itsdangerous==0.24
Flask_Mail==0.9.1
redis==2.10.6
WTForms==2.1
Werkzeug==0.14.1
python_redis_lock==3.2.0
rq==0.10.0
Flask_Login==0.4.1
Flask_Caching==1.3.3
Flask==0.12.2
Flask_Limiter==1.0.1
Flask_WTF==0.14.2
orator==0.9.7
passlib==1.7.1
feedparser==5.2.1
unicode_slugify==0.1.3
psycopg2==2.7.4
bcrypt==3.1.4