.btn {
  background-color: white;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5em;
  cursor: pointer;
  font-size: 15px;
  padding: 8px 32px;
  border: 2px solid #fa0e1e;
  color: #fa0e1e;
  box-sizing: border-box;
  transition: .3s all;

  &:hover {
    background-color: #fa0e1e;
    color: white;
  }

  &.secondary {
    background-color: #FF851B;
  }

  &.small {
    line-height: 1.5;
    height: 32px;
    padding: 0 16px;
  }

  &.grey {
    color: #333;
    border-color: #333;

    &:hover {
      color: white;
      background-color: #333;
    }
  }
}

a.btn {
  font-family: 'Roboto Condensed', sans-serif;
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 2px 32px 16px 6px;
  text-decoration: none!important;

  &:hover {
    opacity: 0.8;
  }
}