form {
  font-family: 'Roboto Condensed', sans-serif;

  > p {
    font-size: .8em;
  }

  a {
    color: black;
  }

  .additional-info {
    font-size: .8em;
    border-top: 1px solid #e5e5e5;
    padding-top: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  input[type=password], input[type=email], input[type=text] {
    display: block;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #e5e5e5;
    padding: 1em 1.6em;
    font-size: 16px;
  }

  textarea {
    font-size: 16px;
    padding: 4px;
    width: 100%;
    max-width: 800px;
  }
}

.f-row {
  padding-bottom: 24px;
}

.one-page-form {
  margin: 64px auto 74px auto;
  max-width: 420px;

  &.wide {
    max-width: 980px;

    input {
      max-width: 420px;
    }
  }

  input {
    width: 100%;
  }
}

fieldset {
  padding: 0;
  border: none;
}

.btn, button, input[type=submit] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: #087cc3;
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
  line-height: 1.5em;
  border: none;
  letter-spacing: 1.05px;
  height: 41px;
  -webkit-appearance: button;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  padding: 0 32px;

  &.secondary {
    background-color: #FF851B;
  }
}
