@import "forms";
@import "md";
@import "buttons";
@import "profile";
@import "settings";
@import "footer";
@import "tables";
@import "search";

@blue: #0074D9;
@yellow: #FFDC00;

@custom-sans: Arial, Helvetica, sans-serif;
@custom-serif: Georgia, serif;
@custom-small: 'Raleway', sans-serif;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
}

body {
  font-family: BentonSans, sans-serif;
  margin: 0;
  font-size: 14px;
}

h1, h2, h3 {
  font-family: @custom-small;
}

h1 {
  font-family: @custom-small;
  font-weight: 400;
  font-size: 52px;
  @media screen and (max-width: 995px) , screen and (max-height: 700px) {
    font-size: 36px;
  }
}

a {
  text-decoration: none;
  color: #0074D9;
  &:hover {
    text-decoration: underline;
  }
}

section {
  min-height: 100vh;
  margin-bottom: 64px;
  padding-top: 32px;
}

.black-link {
  color: black;
}

.small {
  font-size: .8rem;
}

.page-container {
  max-width: 100%;
}

.main-nav {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1024px) 1fr;
  height: 54px;
  margin-bottom: 6px;

  .menu-opener {
    position: relative !important;
  }
}

.nav-links {
  padding: 0 20px;
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 15px;
  max-width: 1024px;
  flex-grow: 1;
  justify-content: space-between;
  @media screen and (max-width: 720px) {
    .nav-nav {
      display: none;
    }

    .nav-search {
      display: none;
    }
  }
}

.mobile-burger {
  display: none;
  padding: 18px 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  cursor: pointer;
  @media screen and (max-width: 720px) {
    display: block;
  }
}

.mobile-nav {
  display: none;
  width: 100%;
  color: white;
    font-family: 'Raleway', sans-serif;
  font-weight: bold;
  &.open {
    display: block;
  }

  ul {
    list-style: none;
    width: 100%;
    background-color: black;
    padding: 8px 16px;
  }

  li {
    padding: 4px;
  }

  a {
    color: white;
  }

  .plus, .minus {
    float: right;
  }
}

.mobile-profile, .mobile-subscribed {
  ul {
    display: none;
  }
  .minus {
    display: none;
  }
  &.open {
    .minus {
      display: block;
    }
    .plus {
      display: none;
    }
    ul {
      display: block;
    }
  }
}

.nav-nav {
  vertical-align: bottom;
  display: flex;
  align-items: end;
  a {
    padding: 12px;
    margin-right: 12px;
    color: black;
    font-weight: bold;

    &:hover {
      color: white;
      background-color: black;
      text-decoration: none;
    }
  }
}

.nav-us {
  position: relative;
  padding: 6px 6px;
  margin-left: 6px;
  font-family: @custom-sans;
  font-weight: normal;
  line-height: 22px;
  > a {
    color: black;
  }
  svg {
    stroke: rgba(0, 0, 0, 0.5);
  }

  &:hover {
    background-color: black;
    color: white;
    > a {
      color: white;
      text-decoration: none;
    }
    svg {
      stroke: white;
    }
    .nav-sub {
      display: block;
    }
  }
}

.nav-sub {
  list-style: none;
  display: none;
  z-index: 2;
  position: absolute;
  top: 100%;
  right: 0;
  margin: 0;
  min-width: 184px;
  padding: 8px;
  background-color: black;
  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: #ccc;
    }
  }
}

.nav-search {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding-top: 12px;

  span {
    cursor: pointer;
  }

  form {
    vertical-align: middle;
    position: relative;
    height: 38px;
    span {
      position: relative;
      vertical-align: middle;
      display: inline-block;
      height: 25px;
    }
  }
  input {
    display: inline-block !important;
    vertical-align: middle;
    width: 0;
    height: 38px;
    border-radius: 19px !important;
    border: none !important;
    -webkit-transition: width .2s, padding .2s;
    transition: width .2s, padding .2s;
    padding: 0 !important;
    color: rgba(0, 0, 0, .7);
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 14px !important;

    &:focus {
      width: 224px;
      padding: 4px 14px !important;
    }
  }
  .svg-icon {
    fill: rgba(0, 0, 0, .5);
  }
}

.nav-user {
  .btn {
    float: right;
    width: 128px;
    margin: 6px 8px 0 0;
  }
  img {
    height: 54px;
    padding: 14px;
    cursor: pointer;
  }
    @media screen and (max-width: 720px) {
    .btn {
      display: none;
    }
  }
}

.nav-logo {
  height: 54px;
  img {
    height: 54px;
    padding: 6px;
  }
}

.nav {
  position: relative;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

.feed {
  border-bottom: 1px solid #aaa;
  padding: 20px 0 12px;
  margin-bottom: 12px;

  .feed-description {
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    margin-top: .3rem;
  }

  .feed-logo {
    margin-bottom: .6rem;
    img {
      display: block;
      max-height: 160px;
      max-width: 200px;
      margin: 0 auto;
    }
  }

  &.hidden {
    .feed-description {
      display: none;
    }
    .feed-logo {
      display: none;
    }
  }

  h1 {
    text-align: center;
    margin: 0;
  }

  .feed-head {
    margin-bottom: 24px;
  }
}

.links {
  .menu {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
    font-family: @custom-small;

    .sorting {
      border: 1px solid black;
      text-align: center;
      padding: 6px 12px;
      overflow: visible;
      position: relative;
      min-width: 120px;

      .selected-sort {
        text-transform: capitalize;
      }

      &:hover {
        ul {
          display: block;
        }
      }

      ul {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        z-index: 1;
        background-color: rgba(240, 240, 248, 0.98);
        left: -1px;
        top: 100%;
        border-top: 1px solid black;

        li {
          padding: 8px 12px;
          min-width: 120px;

          a {
            color: black;
          }

          &.selected {
            a {
              cursor: inherit;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  h2 {
    margin: 0 0 2px 0;
    a {
      color: #000;
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
    }
  }
}

.link {
  margin-bottom: 16px;

  .link-body {
    display: flex;
    flex-direction: row;
  }

  .link-feed {
    font-family: @custom-small;
    font-size: .8rem;
    margin-bottom: -2px;
  }

  .link-text {
    flex-grow: 1;
  }

  .link-text {
    color: #333;
  }

  .bottom-line {
    font-size: .8rem;
    font-family: @custom-small;
    color: #777;

    div {
      display: inline-block;
    }

    a {
      color: #777;
    }

    .date {
      margin-left: 16px;
    }

    .options {
      margin-left: 16px;

      a {
        margin-right: 6px;
      }
    }
  }
}

.link-rating {
  width: 42px;
  flex-shrink: 0;
  padding-left: 12px;
  font-size: .9rem;
  font-family: @custom-small;
  text-align: center;

  &.wide {
    width: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    .score {
      padding: 0 6px;
    }
  }

  img {
    height: 18px;
    width: 18px;
  }

  .up img {
    transform: rotate(270deg);
  }

  .down img {
    transform: rotate(90deg);
  }
}

.link-card {
  .link-head {
    margin-bottom: 32px;
  }
  .link-feed {
    margin-bottom: 8px;
    border-left: 2px solid #555;
    line-height: 1;
    a {
      margin: 0 8px;
      color: #555555;
    }
  }
  .link-title {
    margin-bottom: 12px;
    h1 {
      margin: 16px 0;
      text-transform: none;
    }
    a {
      color: black;
      text-decoration: none;
      font-weight: bold;
      font-family: @custom-sans;
    }
  }
  .link-summary {
    font-size: 1.1rem;
    margin: 20px 0 32px;
  }
  .link-info {
    margin: 12px 0;
    font-family: @custom-small;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
  }
}

.link-add-comment {
  margin: 32px 0;

  textarea {
    width: 90%;
    max-width: 720px;
  }

  button {
    margin-top: 12px;
    display: block;
  }
}

.comment {
  margin-top: 12px;
  display: flex;
  flex-direction: row;

  &-text {
    margin-top: 6px;
  }
}

.comment-header {
  font-size: 13px;
  color: #666;
  span {
    margin-right: 6px;
  }
}

.comment-voting {
  padding: 4px 8px 4px 0;
  .up {
    margin-bottom: -6px;
    img {
      color: #999;
      height: 16px;
      width: 16px;
      transform: rotate(270deg);
    }
  }
  .down {
    img {
      color: #999;
      height: 16px;
      width: 16px;
      transform: rotate(90deg);
    }
  }
}

.comment-options {
  font-size: 13px;
  margin-top: 6px;
  a {
    color: #666;
    margin-right: 6px;
  }
}

.subcomments {
  border-left: 1px solid #999;
  margin: 8px 0 0 12px;
  padding-left: 12px;
}

.subscribed-feeds {
  margin-top: 32px !important;
}

.page-navigation {
  margin-top: 32px;
  a {
    color: black;
    font-family: @custom-small;
  }
}

.single-comment {
  background-color: rgba(100, 120, 140, 0.1);
  padding: 6px;
  border-radius: 4px;
  margin-bottom: 22px;
}

.admin-options {
  display: inline-block;
  margin-left: 16px;
  padding: 4px;

  span {
    color: rgb(102, 102, 102);
    margin-right: 6px;
  }
}

.admin-tab {
  padding-bottom: 32px;
}

.comment-comment {
  display: none;
  margin: 12px 0 6px 0;

  textarea {
    margin-bottom: 6px;
  }
}

.feed-options {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  margin-top: 8px;
  flex-wrap: wrap;

  > div {
    margin-right: 12px;
  }
}

.feed-subs {
  margin-top: 10px;
  text-align: center;
}

.err404 {
  padding: 0 32px;

  h1 {
    font-size: 4.2rem;
    margin-bottom: 26px;
    text-transform: uppercase;
  }

  .search {
    padding: 0;
    margin-bottom: 12px;
  }
}

.alert {
  display: block;
  padding: 6px;
  margin: 6px;

  .close-alert {
    float: right;
    img {
      width: 18px;
      height: 18px;
    }
  }

  .alert-text {
    padding-right: 24px;
  }

  &.message, &.info {
    background-color: #DDDDDD;
  }

  &.success {
    background-color: #2ECC40;
  }

  &.error {
    background-color: #FF4136;
  }
}

.sub-menu {
  padding: 48px 0 0;
  background-color: black;

  h1 {
    color: white;
    margin: 0 0 16px;
  }

  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
  }

  a {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-family: @custom-sans;
    margin-right: 12px;
    padding: 0 0 4px;
    border-bottom: 4px solid black;
    text-decoration: none !important;

    &:hover, &.active {
      border-bottom: 4px solid white;
    }
  }
  .profile-url {
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 12px;
    a {
      font-weight: bold;
      color: white;
      border-bottom: none !important;
    }
  }
}

.profile-tab {
  margin-top: 32px;
}