.non-form input {
  border: none!important;
  background-color: transparent!important;
  padding: 0!important;
  margin: 0!important;
  line-height: inherit!important;
  color: black!important;
  height: auto!important;
  font-weight: normal!important;
  text-transform: none!important;
}
.non-form input:hover {
  text-decoration: underline;
}
form {
  font-family: 'Roboto Condensed', sans-serif;
}
form > p {
  font-size: .8em;
}
form a {
  color: black;
}
form .additional-info {
  font-size: .8em;
  border-top: 1px solid #e5e5e5;
  padding-top: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}
form input[type=password],
form input[type=email],
form input[type=text],
form input[type=url] {
  display: block;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #e5e5e5;
  padding: 1em 1.6em;
  font-size: 16px;
}
form textarea {
  display: block;
  font-size: 16px;
  padding: 4px;
  width: 100%;
  max-width: 800px;
}
.f-row {
  padding-bottom: 24px;
}
.one-page-form {
  margin: 64px auto 74px auto;
  max-width: 420px;
}
.one-page-form.wide {
  max-width: 980px;
}
.one-page-form.wide input {
  max-width: 420px;
}
.one-page-form input {
  width: 100%;
}
fieldset {
  padding: 0;
  border: none;
}
.md {
  line-height: 1.85;
  /* https://github.com/mrmrs/fluidity */
  font-size: 18px;
  max-width: 100%;
  color: #444;
  font-family: 'Merriweather', Georgia, serif;
  margin: 0;
  /* === A bit of a gross hack so we can have bleeding divs/blockquotes. */
  /*  === End gross hack */
}
@media screen and (min-width: 32rem) and (max-width: 48rem) {
  .md {
    font-size: 15px;
  }
}
@media screen and (min-width: 48rem) {
  .md {
    font-size: 16px;
  }
}
.md p,
.md .splendor-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}
.md h1,
.md .splendor-h1,
.md h2,
.md .splendor-h2,
.md h3,
.md .splendor-h3,
.md h4,
.md .splendor-h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}
.md h1,
.md .splendor-h1 {
  margin-top: 0;
  font-size: 1.64rem;
}
.md h2,
.md .splendor-h2 {
  font-size: 1.56rem;
}
.md h3,
.md .splendor-h3 {
  font-size: 1.48rem;
}
.md h4,
.md .splendor-h4 {
  font-size: 1.4rem;
}
.md h5,
.md .splendor-h5 {
  font-size: 1.32rem;
}
.md h6,
.md .splendor-h6 {
  font-size: 1.24rem;
}
.md small,
.md .splendor-small {
  font-size: .707em;
}
.md img,
.md canvas,
.md iframe,
.md video,
.md svg,
.md select,
.md textarea {
  max-width: 100%;
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  src: local('Merriweather Light Italic'), local('Merriweather-LightItalic'), url(http://fonts.gstatic.com/s/merriweather/v19/u-4l0qyriQwlOrhSvowK_l5-eR7lXff4jvk.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: local('Merriweather Light'), local('Merriweather-Light'), url(http://fonts.gstatic.com/s/merriweather/v19/u-4n0qyriQwlOrhSvowK_l521wRZWMf_.ttf) format('truetype');
}
.md div {
  width: 100%;
}
.md div img {
  width: 100%;
}
.md blockquote p {
  font-size: 1.5rem;
  font-style: italic;
  margin: 1rem auto 1rem;
  max-width: 48rem;
}
.md li {
  margin-left: .8rem;
}
.md h1 {
  text-transform: none;
  padding: 0!important;
}
.md p {
  color: #555;
  height: auto;
  line-height: 1.45;
}
.md pre,
.md code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
.md pre {
  background-color: #fafafa;
  font-size: .8rem;
  overflow-x: scroll;
  padding: 1.125em;
}
.md a,
.md a:visited {
  color: #3498db;
}
.md a:hover,
.md a:focus,
.md a:active {
  color: #2980b9;
}
.btn,
button,
input[type=submit] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: #087cc3;
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
  line-height: 1.5em;
  border: none;
  letter-spacing: 1.05px;
  height: 41px;
  -webkit-appearance: button;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  padding: 0 32px;
  align-content: center;
}
.btn.secondary,
button.secondary,
input[type=submit].secondary {
  background-color: #FF851B;
}
.profile {
  margin-bottom: 42px;
}
.profile .profile-head {
  position: relative;
  width: 100%;
  text-align: center;
}
.profile .profile-avatar {
  border-radius: 50%;
  max-width: 260px;
  background-color: #f5f5f5;
  display: inline-block;
  margin: 0 auto;
  overflow: hidden;
}
.profile .profile-avatar img {
  display: block;
  max-width: 100%;
  width: 100%;
}
.profile .profile-name h1 {
  margin: 18px 0 6px 0;
}
.profile .profile-name h1.username {
  text-transform: none;
}
.profile .profile-name h1.full-name {
  text-transform: capitalize;
}
.profile .profile-url {
  font-family: 'Roboto Condensed', sans-serif;
}
.profile .profile-url a {
  font-weight: bold;
  color: #666;
}
.profile .profile-about {
  margin-top: 32px;
  font-size: 20px;
  line-height: 28px;
  word-wrap: break-word;
}
.profile-section {
  margin-bottom: 32px;
}
.settings {
  font-family: 'Roboto Condensed', sans-serif;
}
.settings .menu {
  margin-bottom: 32px;
}
.settings .menu a {
  color: black;
  margin-right: 12px;
}
footer {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 12px 0;
  font-size: .8rem;
  color: #666;
  width: 100%;
  position: relative;
}
footer .wrapper {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  max-width: 480px;
  border-top: 1px solid #e5e5e5;
}
footer .options {
  font-size: 1rem;
}
footer .options a {
  font-family: 'DualisLite', sans-serif;
  padding: 0 12px;
  color: #666;
}
footer .copyright {
  margin-top: 12px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
  empty-cells: show;
  font-size: 15px;
  line-height: 24px;
}
table caption {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: #676b72;
}
th {
  text-align: left;
  font-weight: 700;
  vertical-align: bottom;
}
td {
  vertical-align: top;
}
tr.align-middle td,
td.align-middle {
  vertical-align: middle;
}
th,
td {
  padding: 1rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tfoot th,
tfoot td {
  color: rgba(49, 52, 57, 0.5);
}
table.bordered td,
table.bordered th {
  border: 1px solid rgba(0, 0, 0, 0.05);
}
table.striped tr:nth-child(odd) td {
  background: #f8f8f8;
}
table.bordered td:first-child,
table.bordered th:first-child,
table.striped td:first-child,
table.striped th:first-child {
  padding-left: 1rem;
}
table.bordered td:last-child,
table.bordered th:last-child,
table.striped td:last-child,
table.striped th:last-child {
  padding-right: 1rem;
}
table.unstyled td,
table.unstyled th {
  border: none;
  padding: 0;
}
@font-face {
  font-family: 'DualisLite';
  src: url('/static/fnt/DualisLite.ttf.woff') format('woff'), url('/static/fnt/DualisLite.ttf.svg#DualisLite') format('svg'), url('/static/fnt/DualisLite.ttf.eot'), url('/static/fnt/DualisLite.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
a,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  text-rendering: geometricPrecision;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Lora', serif;
  margin: 0;
}
h1 {
  font-family: 'DualisLite', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 52px;
}
a {
  text-decoration: none;
  color: #0074D9;
}
a:hover {
  text-decoration: underline;
}
section {
  min-height: 100vh;
  margin-bottom: 64px;
  padding-top: 32px;
}
.black-link {
  color: black;
}
.small {
  font-size: .8em;
}
.page-container {
  max-width: 100%;
  padding: 20px;
}
.main-nav {
  position: relative;
}
.main-nav .menu-opener {
  padding: 8px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}
.main-nav .nav-left .menu-opener {
  top: 0;
  left: 0;
}
.main-nav .nav-right .menu-opener {
  top: 0;
  right: 0;
}
.main-nav .nav-logo {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 4px 0;
  border-bottom: 1px solid #e5e5e5;
}
.main-nav .nav-logo .logo {
  margin: 0 auto;
  position: relative;
  display: inline-block;
  font-size: 42px;
  font-weight: bold;
  transition: font-size 0.6s;
}
.main-nav .nav-logo .logo a {
  color: black;
  text-decoration: none!important;
}
.main-nav .nav-logo .logo.smaller {
  font-size: 28px;
}
.main-nav .index-menu {
  padding: 4px 20px;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: .8em;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  height: 42px;
}
.main-nav .index-menu .options {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-nav .index-menu .search form {
  position: relative;
}
.main-nav .index-menu .search input {
  padding: 6px 48px 6px 12px;
}
.main-nav .index-menu .search button {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  height: 32px;
  width: 32px;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.04);
  color: black;
}
.main-nav .index-menu .search button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.main-nav .index-menu .search img {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 6px;
  left: 6px;
}
.main-nav .index-menu a {
  color: black;
  margin-right: 12px;
}
.t-nav {
  box-sizing: border-box;
  padding: 8px 8px;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  background-color: #fafafa;
  z-index: 3;
  height: 100vh;
  max-width: 260px;
  width: 260px;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}
.t-nav#feeds-nav {
  left: 0;
  right: auto;
}
.t-nav#feeds-nav .menu-hider {
  float: left;
}
.t-nav#feeds-nav.hidden {
  left: -260px;
}
.t-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.t-nav .menu-section {
  margin: 20px 0 32px 0;
}
.t-nav .menu-section .header {
  font-size: .8em;
  color: #999;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.t-nav .menu-section li {
  padding: 2px 0;
}
.t-nav .menu-section a {
  color: #666;
  font-size: 15px;
  text-decoration: none;
  padding: 0 2px;
  font-weight: 400;
}
.t-nav .menu-section a:hover {
  background-color: #333;
  color: #fff;
}
.t-nav .menu-section .user {
  margin-bottom: 12px;
  font-weight: 400;
}
.t-nav .menu-section .user .profile-pic {
  float: left;
  width: 64px;
  height: 64px;
  overflow: hidden;
  margin-right: 12px;
}
.t-nav .menu-section .user .profile-pic img {
  width: 100%;
  height: 100%;
}
.t-nav .menu-hider {
  display: inline-block;
  float: right;
  text-align: right;
  cursor: pointer;
}
.t-nav.hidden {
  right: -260px;
}
.container {
  max-width: 1024px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
}
.feed {
  border-bottom: 1px solid #aaa;
  padding: 20px 0;
  margin-bottom: 12px;
}
.feed.hidden .feed-info {
  display: none;
}
.feed.hidden .feed-logo {
  display: none;
}
.feed .feed-logo {
  margin-bottom: .6em;
}
.feed .feed-logo img {
  display: block;
  max-height: 124px;
  max-width: 156px;
  margin: 0 auto;
}
.feed .feed-info {
  margin-top: .3em;
}
.feed h1 {
  text-align: center;
  margin: 0;
}
.links .menu {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  align-content: space-between;
}
.links .menu .subscribe {
  margin-left: 6px;
  text-align: center;
  padding: 6px 12px;
  overflow: visible;
  position: relative;
  box-sizing: border-box;
  min-width: 120px;
  float: right;
  background-color: #ff0000;
}
.links .menu .subscribe a {
  color: white;
}
.links .menu .submit {
  margin-left: 6px;
  border: 1px solid black;
  text-align: center;
  padding: 6px 12px;
  overflow: visible;
  position: relative;
  box-sizing: border-box;
  min-width: 120px;
}
.links .menu .submit a {
  color: black;
}
.links .menu .sorting {
  border: 1px solid black;
  text-align: center;
  padding: 6px 12px;
  overflow: visible;
  position: relative;
  box-sizing: border-box;
  min-width: 120px;
}
.links .menu .sorting:hover ul {
  display: block;
}
.links .menu .sorting ul {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
  background-color: rgba(240, 240, 248, 0.98);
  left: -1px;
  top: 100%;
  border-top: 1px solid black;
}
.links .menu .sorting ul li {
  box-sizing: border-box;
  padding: 8px 12px;
  min-width: 120px;
}
.links .menu .sorting ul li a {
  color: black;
}
.links .link {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
}
.links .link .link-feed {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: .8em;
  margin-bottom: -2px;
}
.links .link .link-body {
  flex-grow: 1;
}
.links .link .link-rating {
  width: 42px;
  padding-left: 12px;
  font-size: .9rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}
.links .link .link-rating .up img {
  height: 18px;
  width: 18px;
  transform: rotate(270deg);
}
.links .link .link-rating .down img {
  height: 18px;
  width: 18px;
  transform: rotate(90deg);
}
.links .link .link-rating .bookmark {
  margin-top: 6px;
}
.links .link .link-rating .bookmark img {
  height: 20px;
  width: 20px;
}
.links .link .bottom-line {
  font-size: .8em;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 8px;
}
.links .link .bottom-line div {
  display: inline-block;
}
.links .link .bottom-line a {
  color: black;
}
.links .link .bottom-line .comments {
  font-weight: bold;
}
.links .link .bottom-line .comments a {
  color: #555;
}
.links .link .bottom-line .date {
  margin-left: 32px;
}
.links h2 {
  margin: 0 0 2px 0;
}
.links h2 a {
  color: #000;
  font-family: 'DualisLite', sans-serif;
  font-weight: 300;
  letter-spacing: -1px;
}
.link-card .link-head {
  max-width: 720px;
}
.link-card .link-feed {
  margin-bottom: 8px;
  border-left: 2px solid #555;
  line-height: 1;
}
.link-card .link-feed a {
  margin: 0 8px;
  color: #555555;
}
.link-card .link-title {
  font-weight: bold;
  font-size: 46px;
  margin-bottom: 12px;
}
.link-card .link-title a {
  color: black;
}
.link-card .link-summary {
  font-size: 20px;
  margin: 20px 0 32px;
}
.link-card .link-info {
  margin: 12px 0;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
.link-card .link-info div {
  position: relative;
}
.link-add-comment {
  margin: 32px 0;
}
.link-add-comment textarea {
  width: 90%;
  max-width: 720px;
}
.link-add-comment button {
  margin-top: 12px;
  display: block;
}
.comment {
  margin-bottom: 6px;
  display: flex;
  flex-direction: row;
}
.comment .comment-voting {
  padding: 4px 8px 4px 0;
}
.comment .comment-voting .up {
  margin-bottom: -6px;
}
.comment .comment-voting .up img {
  color: #999;
  height: 16px;
  width: 16px;
  transform: rotate(270deg);
}
.comment .comment-voting .down img {
  color: #999;
  height: 16px;
  width: 16px;
  transform: rotate(90deg);
}
.comment .comment-header {
  font-size: 13px;
  color: #666;
}
.comment .comment-header span {
  margin-right: 6px;
}
.comment .subcomments {
  border-left: 1px solid #999;
  margin: 8px 0 8px 12px;
  padding-left: 12px;
}
.comment .comment-options {
  font-size: 13px;
  margin-top: 6px;
}
.comment .comment-options a {
  color: #666;
  margin-right: 6px;
}
.preview {
  margin: 32px 0;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.04);
}
.subscribed-feeds {
  margin-top: 32px!important;
}
.page-navigation {
  margin-top: 32px;
}
.page-navigation a {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}
.single-comment {
  background-color: rgba(100, 120, 140, 0.1);
  padding: 6px;
  border-radius: 4px;
  margin-bottom: 22px;
}
.admin-options {
  display: inline-block;
  margin-left: 16px;
  padding: 4px;
  background-color: yellow;
}
.search-page .search {
  margin-bottom: 16px;
}
.search-page .search-results > h2 {
  margin-bottom: 16px;
}
.search-page .search-results em {
  background-color: yellow;
}
/*# sourceMappingURL=main.css.map */