form {
  font-family: 'Roboto Condensed', sans-serif;
}
form p {
  font-size: .8em;
}
form a {
  color: black;
}
form .additional-info {
  font-size: .8em;
  border-top: 1px solid #e5e5e5;
  padding-top: 12px;
  margin-top: 12px;
}
form input[type=password],
form input[type=email],
form input[type=text] {
  display: block;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #e5e5e5;
  padding: 1em 1.6em;
  font-size: 16px;
}
.f-row {
  padding-bottom: 24px;
}
.one-page-form {
  margin: 0 auto 74px auto;
  max-width: 420px;
}
.one-page-form input {
  width: 100%;
}
fieldset {
  padding: 0;
  border: none;
}
.btn,
button,
input[type=submit] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: #087cc3;
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
  line-height: 1.5em;
  border: none;
  letter-spacing: 1.05px;
  height: 41px;
  -webkit-appearance: button;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  padding: 0 32px;
}
@font-face {
  font-family: 'DualisLite';
  src: url('/static/fnt/DualisLite.ttf.woff') format('woff'), url('/static/fnt/DualisLite.ttf.svg#DualisLite') format('svg'), url('/static/fnt/DualisLite.ttf.eot'), url('/static/fnt/DualisLite.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
a,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  text-rendering: geometricPrecision;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Lora', serif;
  font-size: 1.1em;
  margin: 0;
}
h1 {
  font-family: 'DualisLite', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 52px;
}
a {
  text-decoration: none;
  color: #0074D9;
}
a:hover {
  text-decoration: underline;
}
footer {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 12px 0;
  font-size: .8rem;
  color: white;
  background-color: #000000;
}
footer .options {
  text-align: center;
  font-size: 1rem;
}
footer .options a {
  font-family: 'DualisLite', sans-serif;
  padding: 0 12px;
  color: white;
}
footer .copyright {
  text-align: right;
  margin-top: 12px;
}
section {
  min-height: 100vh;
  margin-bottom: 64px;
  padding-top: 32px;
}
.main-nav {
  position: relative;
  height: 62px;
}
.main-nav .menu-opener {
  padding: 8px;
  position: absolute;
  z-index: 2;
}
.main-nav .nav-left .menu-opener {
  top: 0;
  left: 0;
}
.main-nav .nav-right .menu-opener {
  top: 0;
  right: 0;
}
.main-nav .nav-logo {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 4px 0;
}
.main-nav .nav-logo .logo {
  margin: 0 auto;
  position: relative;
  display: inline-block;
  font-size: 42px;
  font-weight: bold;
  transition: font-size 0.6s;
}
.main-nav .nav-logo .logo.smaller {
  font-size: 28px;
}
.t-nav {
  box-sizing: border-box;
  padding: 1em;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  background-color: #fafafa;
  z-index: 3;
  height: 100vh;
  max-width: 260px;
  width: 260px;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}
.t-nav#feeds-nav {
  left: 0;
  right: auto;
}
.t-nav#feeds-nav.hidden {
  left: -260px;
}
.t-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.t-nav .menu-section {
  margin: 20px 0 32px 0;
}
.t-nav .menu-section .header {
  font-size: .8em;
  color: #999;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.t-nav .menu-section li {
  padding: 2px 0;
}
.t-nav .menu-section a {
  color: #666;
  font-size: 15px;
  text-decoration: none;
  padding: 0 2px;
  font-weight: 400;
}
.t-nav .menu-section a:hover {
  background-color: #333;
  color: #fff;
}
.t-nav .menu-section .user {
  margin-bottom: 12px;
  font-weight: 400;
}
.t-nav .menu-section .user .profile-pic {
  float: left;
  width: 64px;
  height: 64px;
  overflow: hidden;
  margin-right: 12px;
}
.t-nav .menu-section .user .profile-pic img {
  width: 100%;
  height: 100%;
}
.t-nav .menu-hider {
  display: inline-block;
  float: right;
  text-align: right;
  cursor: pointer;
  padding: 4px;
  border-radius: 2px;
}
.t-nav.hidden {
  right: -260px;
}
.container {
  max-width: 1024px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
}
.index-menu a {
  color: black;
  margin-right: 12px;
}
.feed {
  border-bottom: 1px solid #aaa;
  padding: 20px 0;
  margin-bottom: 32px;
}
.feed .feed-logo img {
  display: block;
  max-height: 124px;
  max-width: 156px;
  margin: 0 auto;
}
.feed .feed-head h1 {
  text-align: center;
  margin: .6em 0 .3em;
}
.links .menu {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  align-content: space-between;
}
.links .menu .sorting {
  border: 1px solid black;
  text-align: center;
  padding: 6px 12px;
  overflow: visible;
  position: relative;
  box-sizing: border-box;
  min-width: 120px;
}
.links .menu .sorting:hover ul {
  display: block;
}
.links .menu .sorting ul {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
  background-color: white;
  left: 0;
  top: 100%;
  border-top: 1px solid black;
}
.links .menu .sorting ul li {
  box-sizing: border-box;
  padding: 8px 12px;
  min-width: 120px;
}
.links .menu .sorting ul li a {
  color: black;
}
.links .link {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
}
.links .link .link-feed {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: .8em;
  margin-bottom: -2px;
}
.links .link .link-body {
  flex-grow: 1;
}
.links .link .link-rating {
  width: 42px;
  padding-left: 12px;
  font-size: .9rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}
.links .link .link-rating .up img {
  height: 18px;
  width: 18px;
  transform: rotate(270deg);
}
.links .link .link-rating .down img {
  height: 18px;
  width: 18px;
  transform: rotate(90deg);
}
.links .link .link-rating .bookmark {
  margin-top: 6px;
}
.links .link .link-rating .bookmark img {
  height: 20px;
  width: 20px;
}
.links .link .bottom-line {
  font-size: .8em;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 8px;
}
.links .link .bottom-line div {
  display: inline-block;
}
.links .link .bottom-line a {
  color: black;
}
.links .link .bottom-line .comments {
  font-weight: bold;
}
.links .link .bottom-line .comments a {
  color: #555;
}
.links .link .bottom-line .date {
  margin-left: 32px;
}
.links h2 {
  margin: 0 0 6px 0;
}
.links h2 a {
  color: #000;
  font-family: 'DualisLite', sans-serif;
  font-weight: 300;
  letter-spacing: -1px;
}
.link-card .link-head {
  max-width: 720px;
}
.link-card .link-feed {
  margin-bottom: 8px;
  border-left: 2px solid #555;
  line-height: 1;
}
.link-card .link-feed a {
  margin: 0 8px;
  color: #555555;
}
.link-card .link-title {
  font-weight: bold;
  font-size: 46px;
  margin-bottom: 12px;
}
.link-card .link-title a {
  color: black;
}
.link-card .link-summary {
  font-size: 20px;
  margin: 20px 0 32px;
}
.link-card .link-info {
  margin: 12px 0;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
.link-card .link-info div {
  position: relative;
}
.link-add-comment {
  margin: 32px 0;
}
.link-add-comment textarea {
  width: 90%;
  max-width: 720px;
}
.link-add-comment button {
  margin-top: 12px;
  display: block;
}
.comment {
  margin-bottom: 6px;
  display: flex;
  flex-direction: row;
}
.comment .comment-voting {
  padding: 4px 8px 4px 0;
}
.comment .comment-voting .up {
  margin-bottom: -6px;
}
.comment .comment-voting .up img {
  color: #999;
  height: 16px;
  width: 16px;
  transform: rotate(270deg);
}
.comment .comment-voting .down img {
  color: #999;
  height: 16px;
  width: 16px;
  transform: rotate(90deg);
}
.comment .comment-header {
  font-size: 13px;
  color: #666;
}
.comment .comment-header span {
  margin-right: 6px;
}
.comment .subcomments {
  border-left: 1px solid #999;
  margin: 8px 0 8px 12px;
  padding-left: 12px;
}
.comment .comment-options {
  font-size: 13px;
  margin-top: 6px;
}
.comment .comment-options a {
  color: #666;
  margin-right: 6px;
}
.profile {
  margin-bottom: 42px;
}
.profile .profile-head {
  position: relative;
  width: 100%;
  text-align: center;
}
.profile .profile-avatar {
  border-radius: 50%;
  max-width: 260px;
  background-color: #f5f5f5;
  display: inline-block;
  margin: 0 auto;
  overflow: hidden;
}
.profile .profile-avatar img {
  display: block;
  max-width: 100%;
  width: 100%;
}
.profile .profile-name h1 {
  margin: 18px 0 6px 0;
}
.profile .profile-name h1.username {
  text-transform: none;
}
.profile .profile-name h1.full-name {
  text-transform: capitalize;
}
.profile .profile-url {
  font-family: 'Roboto Condensed', sans-serif;
}
.profile .profile-url a {
  font-weight: bold;
  color: #666;
}
.profile .profile-about {
  margin-top: 32px;
  font-size: 20px;
  line-height: 28px;
  word-wrap: break-word;
}
