@import "forms";
@import "md";
@import "buttons";
@import "profile";
@import "settings";
@import "footer";
@import "tables";
@import "search";
@import "modal";

@font-face {
    font-family: 'DualisLite';
    src:url('/static/fnt/DualisLite.ttf.woff') format('woff'),
        url('/static/fnt/DualisLite.ttf.svg#DualisLite') format('svg'),
        url('/static/fnt/DualisLite.ttf.eot'),
        url('/static/fnt/DualisLite.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@blue: #0074D9;
@yellow: #FFDC00;

* {
  box-sizing: border-box;
}

a, div, h1, h2, h3, h4, h5, h6, p, span {
    text-rendering: geometricPrecision;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Lora', serif;
  margin: 0;
}

h1 {
  font-family: 'DualisLite', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 52px;
}

a {
  text-decoration: none;
  color: #0074D9;

  &:hover {
    text-decoration: underline;
  }
}

section {
  min-height: 100vh;
  margin-bottom: 64px;
  padding-top: 32px;
}

.black-link {
  color: black;
}

.small {
  font-size: .8em;
}

.page-container {
  max-width: 100%;
  padding: 20px;
}

.main-nav {
  position: relative;

  .menu-opener {
    padding: 8px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
  }

  .nav-left {
    .menu-opener{
      top: 0;
      left: 0;
    }
  }

  .nav-right {
    .menu-opener{
      top: 0;
      right: 0;
    }
  }

  .nav-logo {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 4px 0;
    border-bottom: 1px solid #e5e5e5;

    .logo {
      margin: 0 auto;
      position: relative;
      display: inline-block;
      font-size: 42px;
      font-weight: bold;
      transition: font-size .6s;

      a {
        color: black;
        text-decoration: none!important;
      }

      &.smaller {
        font-size: 28px;
      }
    }
  }

  .index-menu {
    padding: 4px 20px;
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: .8em;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    height: 42px;

    .options {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .search {
      form {
        position: relative;
      }
      input {
        padding: 6px 48px 6px 12px;
      }
      button {
        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
        height: 32px;
        width: 32px;
        padding: 0;
        margin: 0;
        background-color: rgba(0,0,0,.04);
        color: black;

        &:hover {
          background-color: rgba(0,0,0,.1);
        }
      }
      img {
        position: absolute;
        height: 20px;
        width: 20px;
        top: 6px;
        left: 6px;
      }
    }

    a {
      color: black;
      margin-right: 12px;
    }
  }
}

.t-nav {
  box-sizing: border-box;
  padding: 8px 8px;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  background-color: rgb(250,250,250);
  z-index: 3;
  height: 100vh;
  max-width: 260px;
  width: 260px;
  -moz-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  -webkit-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
  border-left: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;

  &#feeds-nav {
    left: 0;
    right: auto;

    .menu-hider {
      float: left;
    }

    &.hidden {
      left: -260px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu-section {
    margin: 20px 0 32px 0;

    .header {
      font-size: .8em;
      color: #999;
      text-transform: uppercase;
      margin-bottom: 8px;
    }

    li {
      padding: 2px 0;
    }

    a {
      color: #666;
      font-size: 15px;
      text-decoration: none;
      padding: 0 2px;
      font-weight: 400;
    }

    a:hover {
      background-color: #333;
      color: #fff;
    }

    .user {
      margin-bottom: 12px;
      font-weight: 400;

      .profile-pic {
        float: left;
        width: 64px;
        height: 64px;
        overflow: hidden;
        margin-right: 12px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .menu-hider {
    display: inline-block;
    float: right;
    text-align: right;
    cursor: pointer;
  }

  &.hidden {
    right: -260px;
  }
}

.container {
  max-width: 1024px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.feed {
  border-bottom: 1px solid #aaa;
  padding: 20px 0;
  margin-bottom: 12px;

  &.hidden {
    .feed-info {
      display: none;
    }
    .feed-logo {
      display: none;
    }
  }

  .feed-logo {
    margin-bottom: .6em;
    img {
      display: block;
      max-height: 124px;
      max-width: 156px;
      margin: 0 auto;
    }
  }

  .feed-info {
    margin-top: .3em;
  }

  h1 {
    text-align: center;
    margin: 0;
  }

  .feed-head {

  }
}

.links {
  .menu {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
    font-size: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    align-content: space-between;
    .subscribe {
      margin-left: 6px;
      text-align: center;
      padding: 6px 12px;
      overflow: visible;
      position: relative;
      box-sizing: border-box;
      min-width: 120px;
      float: right;
      background-color: #ff0000;
      a {
        color: white;
      }
    }

    .submit {
      margin-left: 6px;
      border: 1px solid black;
      text-align: center;
      padding: 6px 12px;
      overflow: visible;
      position: relative;
      box-sizing: border-box;
      min-width: 120px;
      a {
        color: black;
      }
    }

    .sorting {
      border: 1px solid black;
      text-align: center;
      padding: 6px 12px;
      overflow: visible;
      position: relative;
      box-sizing: border-box;
      min-width: 120px;

      &:hover {
        ul {
          display: block;
        }
      }

      ul {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        z-index: 1;
        background-color: rgba(240,240,248,0.98);
        left: -1px;
        top: 100%;
        border-top: 1px solid black;

        li {
          box-sizing: border-box;
          padding: 8px 12px;
          min-width: 120px;

          a {
            color: black;
          }
        }
      }
    }
  }
  .link {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    .link-feed {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: .8em;
      margin-bottom: -2px;
    }

    .link-body {
      flex-grow: 1;
    }
    .link-rating {
      width: 42px;
      padding-left: 12px;
      font-size: .9rem;
      font-family: 'Roboto Condensed', sans-serif;
      text-align: center;

      .up {
        img {
          height: 18px;
          width: 18px;
          transform: rotate(270deg);
        }
      }

      .down {
        img {
          height: 18px;
          width: 18px;
          transform: rotate(90deg);
        }
      }

      .bookmark {
        margin-top: 6px;
        img {
          height: 20px;
          width: 20px;
        }
      }
    }

    .bottom-line {
      font-size: .8em;
      font-family: 'Roboto Condensed', sans-serif;
      margin-top: 8px;

      div {
        display: inline-block;
      }

      a {
        color: black;
      }

      .comments {
        font-weight: bold;
        a {
        color: #555;
        }
      }

      .date {
        margin-left: 32px;
      }
    }
  }
  h2 {
    margin: 0 0 2px 0;
    a {
      color: #000;
      font-family: 'DualisLite', sans-serif;
      font-weight: 300;
      letter-spacing: -1px;
    }
  }
}

.link-card {
  .link-head {
    max-width: 720px;
    margin-bottom: 32px;
  }
  .link-feed {
    margin-bottom: 8px;
    border-left: 2px solid #555;
    line-height: 1;
    a {
      margin: 0 8px;
      color: #555555;
    }
  }
  .link-title {
    font-weight: bold;
    font-size: 46px;
    margin-bottom: 12px;
    a {
      color: black;
    }
  }
  .link-summary {
    font-size: 20px;
    margin: 20px 0 32px;
  }
  .link-info {
    margin: 12px 0;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    font-size: 14px;

    div {
      position: relative;
    }
  }
}

.link-add-comment {
  margin: 32px 0;

  textarea {
    width: 90%;
    max-width: 720px;
  }

  button {
    margin-top: 12px;
    display: block;
  }
}

.comment {
  margin-top: 12px;
  display: flex;
  flex-direction: row;

  .comment-voting {
    padding: 4px 8px 4px 0;
    .up {
      margin-bottom: -6px;
      img {
        color: #999;
        height: 16px;
        width: 16px;
        transform: rotate(270deg);
      }
    }
    .down {
      img {
        color: #999;
        height: 16px;
        width: 16px;
        transform: rotate(90deg);
      }
    }
  }

  .comment-header {
    font-size: 13px;
    color: #666;
    span {
      margin-right: 6px;
    }
  }

  .subcomments {
    border-left: 1px solid #999;
    margin: 8px 0 0 12px;
    padding-left:  12px;
  }

  .comment-options {
    font-size: 13px;
    margin-top: 6px;
    a {
      color: #666;
      margin-right: 6px;
    }
  }
}

.preview {
  margin: 32px 0;
  padding: 16px;
  background-color: rgba(0,0,0,0.04);
}

.subscribed-feeds {
  margin-top: 32px!important;
}

.page-navigation {
  margin-top: 32px;

  a {
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
  }
}

.single-comment {
  background-color: rgba(100, 120, 140, 0.1);
  padding: 6px;
  border-radius: 4px;
  margin-bottom: 22px;
}

.admin-options {
  display: inline-block;
  margin-left: 16px;
  padding: 4px;
  background-color: yellow;
}

.search-page {

  .search {
    margin-bottom: 16px;
  }

 .search-results {
   > h2 {
     margin-bottom: 16px;
   }
    em {
      background-color: yellow;
    }
  }
}

.comment-comment {
  display: none;
  margin: 12px 0 6px 0;

  textarea {
    margin-bottom: 6px;
  }
}