.profile {
  margin-bottom: 42px;
  padding: 0 20px;

  .profile-head {
    position: relative;
    width: 100%;
    text-align: center;
  }

  .profile-name {
    h1{
      margin: 18px 0 6px 0;
    }
    h1.username {
      text-transform: none;
    }
    h1.full-name {
      text-transform: capitalize;
    }
  }

  .profile-url {
    font-family: 'Roboto Condensed', sans-serif;
    a {
      font-weight: bold;
      color: #666;
    }
  }

  .profile-about {
    margin-top: 32px;
    font-size: 1.1rem;
    word-wrap: break-word;
  }
}

.profile-section {
  margin-bottom: 32px;
}

.profile-menu {
  padding: 0 20px;

  a {
    color: black;
    margin-right: 12px;
  }
}