.profile {
  margin-bottom: 42px;

  .profile-head {
    position: relative;
    width: 100%;
    text-align: center;
  }

  .profile-name {
    h1{
      margin: 18px 0 6px 0;
    }
    h1.username {
      text-transform: none;
    }
    h1.full-name {
      text-transform: capitalize;
    }
  }

  .profile-about {
    margin-top: 26px;
    padding: 12px;
    background-color: #ddd;
    font-size: 1.1rem;
    word-wrap: break-word;
  }
}

.main-profile {
  flex-direction: row;
  flex-wrap: wrap;

  @media only screen and (min-width: 920px) {
    display: flex;
  }
}

.section-admin {
  flex: 1 1 25%;
  display: block;
}

.section-comments {
  flex: 1 1 25%;
  display: block;
  @media only screen and (min-width: 920px) {
      margin-right: 4%;
  }
  order: -1;
}

.section-links {
  flex: 1 1 42%;
  display: block;
  @media only screen and (min-width: 920px) {
      margin-right: 4%;
  }
}