{% extends "base.html" %}

{% block title %}
    Page not found
{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div class="err404">
            <h1>Oops!</h1>
            <h2>That page doesn't exist.</h2>
            <div class="search">
                    <form method="get" action="/search">
                        <input name="q" type="text" autocomplete="off" placeholder="Search {{ config.NAME }}" required value="{{ q }}">
                        <button type="submit">
                            <img src="/static/images/search.svg" alt="S">
                        </button>
                    </form>
                </div>
            <a href="/">Take me back to homepage.</a>
        </div>
    </div>
</section>
{% endblock %}