{% extends "admin_base.html" %}

{% block admin_content %}
    <h1>Feed Administration</h1>
    <ul>
        <li>
            <a href="/add-testing-data">Add testing data</a>
        </li>
        <li>
            <a href="/clear-cache">Clear cache</a>
        </li>
        <li>
            <a href="/trigger-fqs-update">Trigger FQS update</a>
        </li>
        <li>
            <a href="/archive-old-links">Archive old links</a>
        </li>
    </ul>
    <table>
        <thead>
        <tr>
            <td>
                Id
            </td>
            <td>
                Feed name
            </td>
            <td>
                Subscribers
            </td>
        </tr>
        </thead>
        {% for feed in all_feeds %}
            <tr>
                <td>
                    {{ feed.id }}
                </td>
                <td>
                    {{ feed.name }}
                </td>
                <td>
                    {{ feed.subscribers_count }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}