{% extends "base.html" %}

{% block title %}
    {{ user.name }}
{% endblock %}

{% block body %}
    <div class="sub-menu">
        <div class="container">
            <div class="profile">
                <div class="profile-avatar">
                        <div class="avatar-placeholder">
                            <span>🤖</span>
                        </div>
                </div>
                <div class="profile-body">
                    <h1>Autoposter</h1>
                        <div class="bio">
                            Hello! I am bot. I post links. If I make a mistake do not hesitate and contact the
                        admin of related feed.
                        </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
