<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Metadata -->
    <meta name="description" content="The {{ config['NAME'] }} is news websites for anyone and anything. You choose what you read.">
    <meta name="theme-color" content="#0074D9">
    <meta name="distribution" content="web">
    <meta name="robots" content="index, follow">
    <meta name="format-detection" content="telephone=no">

    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" href="/static/images/icon02.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <script type="application/javascript" src="/static/scripts/main.js"></script>
    <script type="application/javascript">
        let csrf_token = "{{ csrf_token() }}";
    </script>
</head>

<body>

{% include 'menu.html' %}

{% include 'flash_messages.html' %}

{% block body %}
{% endblock %}

{% include 'footer.html' %}

</body>
</html>