<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The {{ config['NAME'] }} is news websites for anyone and anything. You choose what you read.">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="revisit-after" content="1 day">
    <meta name="distribution" content="web">
    <meta name="robots" content="index, follow" />

    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:400" rel="stylesheet">
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <script type="application/javascript" src="/static/scripts/menu.js"></script>

    {% if md_parser %}
        <script type="application/javascript" src="/static/scripts/snuownd.js"></script>
    {% endif %}
</head>

<body>

{% include 'menu.html' %}

{% include 'flash_messages.html' %}

{% block body %}
{% endblock %}

{% include 'footer.html' %}

</body>
</html>