<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Metadata -->
    <meta name="description"
          content="The eSource News is news websites for anyone and anything. You choose what you read.">
    <meta name="keywords" content="news aggregator, news">
    <meta name="theme-color" content="#0074D9">
    <meta name="distribution" content="web">
    <meta name="robots" content="index, follow">
    <meta name="google-site-verification" content="3xAlxYChOnxEyAPk9BY2xpsq1x-8tpnLST7PFx-jIVY"/>

    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" href="/static/images/icon02.png">
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <script type="application/javascript" src="/static/scripts/main.js"></script>
</head>

<body>

{% include 'menu.html' %}

{% include 'flash_messages.html' %}

{% block body %}
{% endblock %}

{% include 'footer.html' %}

</body>
</html>