<div class="single-comment">
    <div class="link-name">
        <a href="/f/{{ comment.link.feed.slug }}/{{ comment.link.slug }}">
            {{ comment.link.title }}
        </a>
        |
        by <a href="/u/{{ comment.link.user.username }}">{{ comment.link.user.name }}</a>
        |
        <a href="/f/{{ comment.link.feed.slug }}">
            {{ comment.link.feed.name }}
        </a>
    </div>
    <div class="comment" id="{{ comment.id }}">
        <div class="comment-voting">
            <div class="up">
                {% if comment.vote_by(current_user) and comment.vote_by(current_user).is_upvote %}
                <a href="/c/{{ comment.id }}/vote/unvote">
                    <img src="/static/images/play-light.svg">
                </a>
                {% else %}
                <a href="/c/{{ comment.id }}/vote/upvote">
                    <img src="/static/images/play-light.svg">
                </a>
                {% endif %}
            </div>
            <div class="down">
                {% if comment.vote_by(current_user) and comment.vote_by(current_user).is_downvote %}
                <a href="/c/{{ comment.id }}/vote/unvote">
                    <img src="/static/images/play-light.svg">
                </a>
                {% else %}
                <a href="/c/{{ comment.id }}/vote/downvote">
                    <img src="/static/images/play-light.svg">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="comment-body">
            <div class="comment-header">
                            <span>
                                <a href="/u/{{ comment.user.username }}">{{ comment.user.name }}</a>
                            </span>
                <span>
                                {{ comment.score }} points
                            </span>
                <span>
                                {{ comment.time_ago() }}
                            </span>
            </div>
            <div class="comment-text">
                {{ comment.text }}
            </div>
            <div class="comment-options">
                <a href="#" onclick="return setReplyTo('{{ comment.id }}')">reply</a>
                <a href="/c/{{ comment.id }}/report">report</a>
            </div>
        </div>
    </div>
</div>
