{% extends "base.html" %}

{% block title %}
    Settings
{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div>
            <h1>Contact</h1>
            <h3>Hello!</h3>
            <p>I currently run this site alone. I try to answer each and every email I receive but it might take some
                time so please be patient.</p>
            <p>You can contact me at: <a href="mailto:matousdzivjak@gmail.com">matousdzivjak@gmail.com</a>
            </p>
        </div>
    </div>
</section>
{% endblock %}
