{% extends "base.html" %}

{% block title %}
    Contact
{% endblock %}

{% block body %}
<section>
    <div class="page-container">
    <div class="one-page-form wide">
        <!--<form action="/join" method="POST">
            <h2>Contact us</h2>
            <fieldset>
                <div class="f-row">
                    {{ form.email }}
                </div>
                <div class="f-row">
                    {{ form.text }}
                </div>
                {{ form.csrf_token }}
                <input type="submit" value="Send">
            </fieldset>
            <div class="additional-info">
                <a href="/terms">
                    Terms and conditions
                </a>,
                <a href="/privacy">
                    Privacy policy
                </a>
            </div>
        </form>-->
    </div>
</div>
</section>
{% endblock %}
