{% extends "base.html" %}

{% block title %}
    {{ feed.name }}
{% endblock %}

{% block body %}
    {% set subscribed = current_user.is_authenticated and current_user.subscribed_to(feed) %}
    <div class="feed">
        <div class="feed-wrapper">
            <div class="container">
                <div class="feed-head">
                    <h1>{{ feed.name }}</h1>
                    {% if feed.description %}
                        <div class="feed-description">
                            {{ feed.description }}
                        </div>
                    {% endif %}
                    <div class="feed-subs">
                        {{ feed.subscribers_count + 1 }} subscribers
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="links container">
            <div class="menu">
                <div class="feed-sort">
                    <div class="sorting" onclick="displaySortOptions();">
                        <div class="selected-sort">{{ sort }}</div>
                        <ul class="hidden">
                            <li class="{% if sort == 'trending' %}selected{% endif %}">
                                <a href="{{ feed.route }}/trending" title="Show links sorted by trending">
                                    Trending
                                </a>
                            </li>
                            <li class="{% if sort == 'new' %}selected{% endif %}" title="Show links sorted be newest">
                                <a href="{{ feed.route }}/new">
                                    New
                                </a>
                            </li>
                            <li class="{% if sort == 'best' %}selected{% endif %}" title="Show links sorted by score">
                                <a href="{{ feed.route }}/best">
                                    Best
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="feed-options">
                    {% if current_user.is_authenticated %}
                        <div>
                            <a class="btn" href="{{ feed.route }}/add" title="Post new link to {{ feed.name }}">Post</a>
                        </div>
                        {% if current_user.is_feed_admin(feed) %}
                            <div>
                                <a class="btn" href="{{ feed.route }}/admin"
                                   title="Go to Admin tools for {{ feed.name }}">Admin</a>
                            </div>
                        {% endif %}
                        {% if subscribed %}
                            <div>
                                <a class="btn grey" href="{{ feed.route }}/unsubscribe"
                                   title="Unscubscribe from {{ feed.name }}">Unsubscribe</a>
                            </div>
                        {% else %}
                            <div>
                                <a class="btn" href="{{ feed.route }}/subscribe" title="Subscribe to {{ feed.name }}">Subscribe</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% set single_feed = True %}
            {% for link in feed.links %}
                {% with link=link %}
                    {% include 'link_listing.html' %}
                {% endwith %}
            {% endfor %}
            <div class="page-navigation">
                {% if less_links !=  None %}
                    <a href="?count={{ less_links }}" title="Show next page">
                        Previous
                    </a>
                {% endif %}
                {% if more_links != None %}
                    <a href="?count={{ more_links }}" title="Back to previous page">
                        More
                    </a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
