{% extends "feed_admin_base.html" %}

{% block admin_content %}
            <h1>Feed Administration</h1>
            <form action="/f/{{ feed.slug }}/admin" method="POST">
                <h3>Edit Feed</h3>
                <fieldset>
                    <div class="f-row">
                        {{ form.name.label }}
                        {{ form.name }}
                    </div>
                    <div class="f-row">
                        {{ form.description.label }}
                        {{ form.description }}
                    </div>
                    <div class="f-row">
                        {{ form.rules.label }}
                        {{ form.rules }}
                    </div>
                    <div class="md">
                        {{ feed.rules_html|safe }}
                    </div>
                    {{ form.csrf_token }}
                    <input type="submit" value="Change">
                </fieldset>
            </form>
{% endblock %}