{% extends "feed_admin_base.html" %}

{% block admin_content %}
    <h1>Reports</h1>
    <table>
        <thead>
        <tr>
            <td>
                reason
            </td>
            <td>
                comment
            </td>
            <td>
                reported by
            </td>
            <td>
                author
            </td>
            <td>
                date
            </td>
            <td>
                info
            </td>
            <td>
                actions
            </td>
        </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                <td>
                    {{ report.reason }}
                </td>
                <td>
                    {{ report.comment }}
                </td>
                <td>
                    <a href="/u/{{ report.user.username }}">{{ report.user.username }}</a>
                </td>
                <td>
                    <a href="/u/{{ report.thing.user.username }}">{{ report.thing.user.username }}</a>
                </td>
                <td>
                    {{ report.created_at|datetime }}
                </td>
                <td>
                    <a href="{{ report.thing.route }}">{{ report.reported_thing }}</a> by <a
                        href="{{ report.thing.user.route }}">{{ report.thing.user.username }}</a>
                    reported {{ report.thing.reported }} times
                </td>
                <td>
                    <a href="/c/remove/{{ report.thing.id }}"
                       onclick="return confirm('Are you sure you want to delete this comment?')">remove</a>
                    <br>
                    <a href="/f/{{ feed.slug }}/ban/{{ report.thing.user.username }}"
                       onclick="return confirm('Are you sure you want to ban this user?')">ban user</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}