{% extends "feed_admin_base.html" %}

{% block admin_content %}
            <h1>Feed Administration</h1>
            <form action="/f/{{ feed.slug }}/admin" method="POST" enctype="multipart/form-data">
                <h3>Edit feed {{ feed.name }}, Id: {{ feed.id }}</h3>
                <fieldset>
                    <div class="f-row">
                        {{ form.description.label }}
                        {{ form.description }}
                    </div>
                    <div class="f-row">
                        {{ form.rules.label }}
                        {{ form.rules }}
                    </div>
                    <div class="md">
                        {{ feed.rules_html|safe }}
                    </div>
                    <div class="f-row">
                        {{ form.img.label }}
                        {{ form.img }}
                    </div>
                    {{ form.csrf_token }}
                    <button type="submit" class="btn">Change</button>
                </fieldset>
            </form>
{% endblock %}