{% extends "base.html" %}

{% block title %}
    {{ feed.name }}
{% endblock %}

{% block body %}
    <section>
        <div class="container">
            {% set subscribed = current_user.is_authenticated and current_user.subscribed_to(feed) %}
            <div class="feed {% if subscribed %}hidden{% endif %}">
                <div class="feed-head">
                    <div class="feed-logo">
                        <img src="/static/images/testimg.png">
                    </div>
                    <h1>{{ feed.name }}</h1>
                    <div class="feed-info">
                        <div class="feed-description">
                            {{ feed.description }}
                        </div>
                    </div>
                </div>
                <div class="feed-options">
                    {% if subscribed %}
                        <div>
                            <a href="/f/{{ feed.slug }}/unsubscribe">Unsubscribe</a>
                        </div>
                    {% else %}
                        <div>
                            <a href="/f/{{ feed.slug }}/subscribe">Subscribe</a>
                        </div>
                    {% endif %}
                    {% if current_user.is_authenticated and current_user.is_feed_admin(feed) %}
                        <div>
                            <a href="/f/{{ feed.slug }}/admin">Admin</a>
                        </div>
                    {% endif %}
                    <div>
                        <a href="/f/{{ feed.slug }}/add">Submit</a>
                    </div>
                    <div>
                        <a id="description-trigger" href="" onclick="triggerFeedDescription(); return false;">Display
                            feed details</a>
                    </div>
                </div>
            </div>
            <div class="links">
                <div class="menu">
                    <div class="sorting">
                        Trending
                        <ul>
                            <li>
                                <a href="/f/{{ feed.slug }}/trending">
                                    Trending
                                </a>
                            </li>
                            <li>
                                <a href="/f/{{ feed.slug }}/new">
                                    New
                                </a>
                            </li>
                            <li>
                                <a href="/f/{{ feed.slug }}/best">
                                    Best
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% set single_feed = True %}
                {% for link in feed.links %}
                    {% with link=link %}
                        {% include 'link_listing.html' %}
                    {% endwith %}
                {% endfor %}
                <div class="">
                    {% if less_links !=  None %}
                        <a href="?count={{ less_links }}">
                            Previous
                        </a>
                    {% endif %}
                    {% if more_links != None %}
                        <a href="?count={{ more_links }}">
                            Next
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
