{% extends "feed_admin_base.html" %}

{% block admin_content %}
            <h1>Reports</h1>
    <table>
        <thead>
            <tr>
                <td>
                    reason
                </td>
                <td>
                    comment
                </td>
                <td>
                    reported by
                </td>
                <td>
                    info
                </td>
            </tr>
        </thead>
        <tbody>
            {% for report in reports %}
                <tr>
                <td>
                    {{ report.reason }}
                </td>
                <td>
                    {{ report.comment }}
                </td>
                <td>
                    <a href="/u/{{ report.user.username }}">{{ report.user.username }}</a>
                </td>
                <td>
                    <a href="{{ report.thing.route }}">{{ report.reported_thing }}</a> by <a href="{{ report.thing.user.route }}">{{ report.thing.user.username }}</a>
                </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}