{% extends "base.html" %}

{% block title %}
    Help
{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div class="help">
            <div class="faq">
                <h2>FAQ</h2>
                <p>
                    <b>
                        What are the submission rules?
                    </b>
                </p>
                <p>
                    You can read the rules <a href="/rules">here</a> and each feed has its own rules.
                </p>
                <p>
                    <b>
                        How do I submit a link?
                    </b>
                </p>
                <p>
                    You have to be registered. Go to the feed you wish to post at and click at "submit" in feed options.
                    Be advised that posted links must follow the rules.
                </p>
                <p>
                    <b>
                        I can't find feed for thing I am interested in.
                    </b>
                </p>
                <p>
                    Don't worry, maybe it just wasn't created yet. If you would like to see feed for some specific
                    content do not hesitate and <a href="/contact">contact me</a>.
                </p>
                <p>
                    <b>
                        How do I become an admin?
                    </b>
                </p>
                <p>
                    <a href="/contact">Contact me</a> or the feed admins on feed you would like to administrate (contact
                    email is usually specified in feed rules).
                </p>
                <p>
                    <b>
                        How are the links ranked?
                    </b>
                </p>
                <p>
                    Links are sorted in similar fashion as on Reddit and we are planning to write more on this later.
                    For comments ranking the Lower bound of Wilson score confidence interval for a Bernoulli parameter is used as described in
                    <a href="http://www.evanmiller.org/how-not-to-sort-by-average-rating.html">
                        this
                    </a> article by
                    <a href="http://www.evanmiller.org/">
                        Evan Miller
                    </a>.
                </p>
                <p>
                    <b>
                        I want to suggest a thing.
                    </b>
                </p>
                <p>
                    We have created feed for <a href="/f/suggest">suggestions</a>.
                </p>
                <p>
                    <b>
                        What is your tech stack?
                    </b>
                </p>
                <p>
                    Python (Flask), PostgreSQL and Redis. Everything runs behind Gunicorn on Heroku. If you would like
                    to know more, contact me and we can talk.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}