{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div class="links">
            <div class="menu">
                <div class="sorting">
                    New
                    <ul>
                        <li>
                            <a href="?sort=new">
                                New
                            </a>
                        </li>
                        <li>
                            <a href="?sort=trending">
                                Trending
                            </a>
                        </li>
                        <li>
                            <a href="?sort=best">
                                Best
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% for link in links %}
                {% with link=link %}
                    {% include 'link_listing.html' %}
                {% endwith %}
            {% endfor %}
            <div class="">
                {% if less_links !=  None %}
                    <a href="?count={{ less_links }}">
                        Previous
                    </a>
                {% endif %}
                {% if more_links != None %}
                    <a href="?count={{ more_links }}">
                        Next
                    </a>
                {% endif %}
            </div>
            </div>
    </div>
</section>
{% endblock %}
