{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div class="index-menu">
            <div>
                <a href="/">Home</a>
                <a href="/trending">Trending</a>
                <a href="/new">New</a>
                <a href="/new">Top</a>
            </div>
        </div>
        <div class="links">
            <div class="menu">
                <div class="sorting">
                    New
                    <ul>
                        <li>
                            <a href="?sort=new">
                                New
                            </a>
                        </li>
                        <li>
                            <a href="?sort=trending">
                                Trending
                            </a>
                        </li>
                        <li>
                            <a href="?sort=best">
                                Best
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% for link in links %}
                {% with link=link %}
                    {% include 'link_listing.html' %}
                {% endwith %}
            {% endfor %}
            </div>
    </div>
</section>
{% endblock %}
