{% extends "base.html" %}

{% block title %}
    {{ link.title }}
{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="link-card">
                <div class="link-head">
                    <div class="link-feed">
                        <a href="/f/{{ link.feed.slug }}">{{ link.feed.name }}</a>
                    </div>
                    <div class="link-title">
                        <h1>
                            <a href="{{ link.url }}">
                                {{ link.title }}
                            </a>
                        </h1>
                    </div>
                    {% if link.text %}
                        <div class="link-summary">
                            {{ link.text }}
                        </div>
                    {% endif %}
                    <div class="link-info">
                        <div class="rating">
                            <a href="/l/{{ link.slug }}/vote/upvote">Upvote</a>
                            {{ link.score }}
                            <a href="/l/{{ link.slug }}/vote/downvote">Downvote</a>
                        </div>
                        <div class="author">
                            {{ link.time_ago() }} by <a href="/u/{{ link.user.username }}">{{ link.user.name }}</a>
                            {% if link.user.profile_pic %}
                                <img src="{{ link.user.profile_pic }}" class="profile-pic-small">
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if current_user.is_authenticated %}
                    <div class="link-add-comment">
                        <form method="post" action="/f/{{ link.feed.slug }}/{{ link.slug }}/comment">
                            {{ comment_form.text(rows='6', cols='60') }}
                            {{ comment_form.parent_id }}
                            {{ comment_form.csrf_token }}
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                {% endif %}
                <div class="link-comments">
                    {% for comment_id, subcomments in comments recursive %}
                        {% set comment = get_comment(comment_id) %}
                        <div class="comment" id="c{{ comment.id }}">
                            <div class="comment-voting">
                                <div class="up">
                                    {% if comment.vote_by(current_user) and comment.vote_by(current_user).is_upvote %}
                                        <a href="/c/{{ comment.id }}/vote/unvote">
                                            <img src="/static/images/play-light.svg">
                                        </a>
                                    {% else %}
                                        <a href="/c/{{ comment.id }}/vote/upvote">
                                            <img src="/static/images/play-light.svg">
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="down">
                                    {% if comment.vote_by(current_user) and comment.vote_by(current_user).is_downvote %}
                                        <a href="/c/{{ comment.id }}/vote/unvote">
                                            <img src="/static/images/play-light.svg">
                                        </a>
                                    {% else %}
                                        <a href="/c/{{ comment.id }}/vote/downvote">
                                            <img src="/static/images/play-light.svg">
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="comment-body">
                                <div class="comment-header">
                            <span>
                                <a href="/u/{{ comment.user.username }}">{{ comment.user.name }}</a>
                            </span>
                                    <span>
                                {{ comment.score }} points
                            </span>
                                    <span>
                                {{ comment.time_ago() }}
                            </span>
                                </div>
                                <div class="comment-text md">
                                    {{ comment.text|safe }}
                                </div>
                                <div class="comment-comment"></div>
                                <div class="comment-options">
                                    <a href="#" onclick="return commentComment('{{ comment.id }}')">reply</a>
                                    <a href="/c/{{ comment.id }}/report"
                                       onclick="return reportComment({{ comment.id }})">report</a>
                                    {% if current_user.is_authenticated and current_user.is_feed_admin(link.feed) %}
                                        <div class="admin-options">
                                            <form class="non-form" method="post"
                                                  action="/f/{{ feed.slug }}/remove-comment">
                                                <input type="hidden" name="id" value="{{ comment.id }}">
                                                <input type="submit" value="remove">
                                            </form>
                                        </div>
                                        <a href="" class="admin-options">
                                            {{ comment.reported }} reports
                                        </a>
                                    {% endif %}
                                </div>
                                {% if subcomments|length > 0 %}
                                    <div class="subcomments">
                                        {{ loop(subcomments) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
