{% extends "base.html" %}

{% block title %}
    {{ link.title }}
{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="link-card">
                <div class="link-head">
                    <div class="link-feed">
                        <a href="{{ link.feed.route }}" title="Go to {{ link.feed.name }} feed">{{ link.feed.name }}</a>
                    </div>
                    <div class="link-title">
                        <h1>
                            <a href="{% if link.url %}{{ link.url }}{% else %}{{ link.route }}{% endif %}">
                                {{ link.title }}
                            </a>
                        </h1>
                    </div>
                    {% if link.text %}
                        <div class="link-summary">
                            {{ link.text }}
                        </div>
                    {% endif %}
                    <div class="link-info">
                        {% if not link.archived %}
                            <div class="link-rating wide">
                                <div class="up">
                                    {% if link.b_id in current_user.link_upvotes %}
                                        <a href="{{ link.route }}/vote/unvote?next={{ request.path|urlencode }}">
                                            <img class="voted" src="/static/images/play-clicked.svg">
                                        </a>
                                    {% else %}
                                        <a href="{{ link.route }}/vote/upvote?next={{ request.path|urlencode }}">
                                            <img src="/static/images/play.svg">
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="score">
                                    {{ link.score }}
                                </div>
                                <div class="down">
                                    {% if link.b_id in current_user.link_downvotes %}
                                        <a href="{{ link.route }}/vote/unvote?next={{ request.path|urlencode }}">
                                            <img class="voted" src="/static/images/play-clicked.svg">
                                        </a>
                                    {% else %}
                                        <a href="{{ link.route }}/vote/downvote?next={{ request.path|urlencode }}">
                                            <img src="/static/images/play.svg">
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        <div class="author">
                            {{ link.time_ago() }} by <a href="{{ link.user.route }}">{{ link.user.name }}</a>
                            {% if link.user.profile_pic %}
                                <img src="{{ link.user.profile_pic }}" class="profile-pic-small">
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if current_user.is_authenticated and not link.archived %}
                    <div class="link-add-comment">
                        <form method="post" action="{{ link.route }}/comment">
                            {{ comment_form.text(rows='6', cols='60') }}
                            {{ comment_form.parent_id }}
                            {{ comment_form.csrf_token }}
                            <button type="submit" class="btn">Submit</button>
                        </form>
                    </div>
                {% endif %}
                <div class="link-comments">
                    {% for comment, subcomments in comments recursive %}
                        <div class="comment" id="c{{ comment.id }}" itemscope itemtype="https://schema.org/Comment">
                                <div class="comment-voting">
                                    <div class="up">
                                        {% if comment.b_id in current_user.comment_upvotes %}
                                            <a href="{{ comment.route }}/vote/unvote?next={{ link.route }}"
                                               title="Remove the vote">
                                                <img src="/static/images/play-light-filled.svg">
                                            </a>
                                        {% else %}
                                            <a href="{{ comment.route }}/vote/upvote?next={{ link.route }}"
                                               title="Upvote this comment">
                                                <img src="/static/images/play-light.svg">
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div class="down">
                                        {% if comment.b_id in current_user.comment_downvotes %}
                                            <a href="{{ comment.route }}/vote/unvote?next={{ link.route }}"
                                               title="Remove the vote">
                                                <img src="/static/images/play-light-filled.svg">
                                            </a>
                                        {% else %}
                                            <a href="{{ comment.route }}/vote/downvote?next={{ link.route }}"
                                               title="Downvote this comment">
                                                <img src="/static/images/play-light.svg">
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            <div class="comment-body">
                                <div class="comment-header">
                            <span>
                                <a href="{{ comment.user.route }}"
                                   title="{{ comment.user.name }} personal page">{{ comment.user.name }}</a>
                            </span>
                                    <span>
                                {{ comment.score }} points
                            </span>
                                    <span>
                                {{ comment.time_ago() }}
                            </span>
                                </div>
                                <div class="comment-text md" itemprop="text">
                                    {{ comment.text|safe }}
                                </div>

                                {% if not link.archived %}
                                    <div class="comment-comment"></div>
                                    <div class="comment-options">
                                        {% if current_user.is_authenticated %}
                                        <a href="#"
                                           title="Reply to this comment"
                                           onclick="return commentComment('{{ comment.id }}', '{{ link.route }}')">reply</a>
                                        <a href="{{ comment.route }}/report"
                                           title="Report this comment"
                                           onclick="return reportComment({{ comment.id }})">report</a>
                                        {% endif %}
                                        {% if current_user.is_authenticated and current_user.is_feed_admin(link.feed) %}
                                            <div class="admin-options">
                                            <span>
                                                Admin:
                                            </span>
                                                <a href="{{ comment.route }}/remove"
                                                   onclick="return confirm('Are you sure you want to delete this comment?');">
                                                    delete
                                                </a>
                                                <a href="{{ link.feed.route }}/reports?q=c:{{ comment.id }}">
                                                    {{ comment.reported }} reports
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}

                                {% if subcomments|length > 0 %}
                                    <div class="subcomments">
                                        {{ loop(subcomments) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
