{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
<div class="page-container">
    <a href="/" class="black-link small">
        < Back to homepage
    </a>
    <div class="one-page-form">
        <form action="/login" method="POST">
            <h2>Sign In</h2>
            <p>
                Don't have an account? <a href="/join">Sign up</a>
            </p>
            <fieldset>
                <div class="f-row">
                    {{ form.username_or_email }}
                </div>
                <div class="f-row">
                    {{ form.password }}
                </div>
                {{ form.csrf_token }}
                <input type="submit" value="Sign In">
            </fieldset>
            <div class="additional-info">
                <a href="/reset">
                    <b>Forgot password?</b>
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}