<nav class="main-nav">

    {% if current_user.is_authenticated and not hide_menues %}
    <div class="nav-left">
        <div class="menu-opener left" onclick="toggleMenu('feeds-nav',event);">
            <img src="/static/images/menu.svg">
        </div>
    </div>
    {% endif %}

    <div class="nav-logo{% if show_logo %} animated{% endif %}">
        <div class="logo{% if not show_logo %} smaller{% endif %}">
            <a href="/">{{ config.NAME }}</a>
        </div>
    </div>

    {% if not hide_menues %}
    <div class="nav-right">
        <div class="menu-opener right" onclick="toggleMenu('side-nav',event);">
            <img src="/static/images/user.svg">
        </div>
    </div>
    {% endif %}

    {% if not hide_menues %}
    <div class="nav-menu">
        <div class="index-menu">
            <div class="options">
                <a href="/">Home</a>
                <a href="/trending">Trending</a>
                <a href="/new">New</a>
                <a href="/best">Best</a>
            </div>
            <div class="search">
                <form method="get" action="/search">
                    <input name="q" type="text" autocomplete="off" placeholder="Search" required>
                    <button type="submit">
                        <img src="/static/images/search.svg" alt="S">
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</nav>
<nav class="t-nav hidden" id="side-nav">
    <div class="menu-hider" onclick="toggleMenu('side-nav',event);">
        <img src="/static/images/x.svg">
    </div>
    <ul>
        <li class="menu-section">
            <div class="header">
                Account
            </div>
            {% if current_user.is_authenticated %}
            <div class="user">
                <div class="info">
                    {% if current_user.full_name %}
                    <div class="name">
                        {{ current_user.full_name }}
                    </div>
                    {% endif %}
                    <div class="username">
                        {{ current_user.username }}
                    </div>
                </div>
            </div>
            <ul>
                <li>
                    <a href="/u/{{ current_user.username }}">
                        Your profile
                    </a>
                </li>
                <li>
                    <a href="/saved">
                        Saved links
                    </a>
                </li>
                <li>
                    <a href="/settings">
                        Settings
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        Sign out
                    </a>
                </li>
            </ul>
            {% else %}
            <ul>
                <li>
                    <a href="/join">
                        Sign up
                    </a>
                </li>
                <li>
                    <a href="/login">
                        Sign in
                    </a>
                </li>
            </ul>
            {% endif %}
        </li>
        <li class="menu-section">
            <div class="header">
                Menu
            </div>
            <ul>
                <li>
                    <a href="/how-it-works">
                        How it works
                    </a>
                </li>
                <li>
                    <a href="mailto:{{ config.CONTACT_EMAIL }}">
                        Contact
                    </a>
                </li>
                <li>
                    <a href="/help">
                        Help
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-section">
            <div class="header">
                Privacy
            </div>
            <ul>
                <li>
                    <a href="/terms">
                        Terms
                    </a>
                </li>
                <li>
                    <a href="/privacy">
                        Privacy
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
{% if current_user.is_authenticated %}
<nav class="t-nav hidden" id="feeds-nav">
    <div class="menu-hider" onclick="toggleMenu('feeds-nav', event);">
        <img src="/static/images/x.svg">
    </div>
    {% include 'feeds_menu.html' %}
</nav>
{% endif %}