<nav class="nav">
    <div class="main-nav">
        <div class="nav-logo">
            <a href="/">
                <img src="/static/images/icon01.png" alt="eSource">
            </a>
        </div>
        <div class="nav-links">
            <div class="nav-nav">
                <a href="/">Home</a>
                <a href="/trending">Trending</a>
                <a href="/new">New</a>
                <a href="/best">Best</a>
            </div>
            <div class="nav-search">
                <form method="get" action="/search">
                    <label for="q">
                        <span>
                            <svg class="svg-icon" width="25" height="25" viewBox="0 0 25 25">
                                <path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path>
                            </svg>
                        </span>
                        <input type="text" id="q" name="q" title="q" placeholder="Search" required>
                    </label>
                </form>
                <div class="nav-us">
                    {% if current_user.is_authenticated %}
                        <div class="name">
                            {{ current_user.name }}
                        </div>
                        <ul class="nav-sub">
                            <li>
                                <a href="{{ current_user.route }}">
                                    Your profile
                                </a>
                            </li>
                            <li>
                                <a href="/saved">
                                    Saved links
                                </a>
                            </li>
                            <li>
                                <a href="/settings">
                                    Settings
                                </a>
                            </li>
                            <li>
                                <a href="/logout">
                                    Sign out
                                </a>
                            </li>
                        </ul>
                    {% else %}
                        <div class="name">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="feather feather-user">
                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                <circle cx="12" cy="7" r="4"></circle>
                            </svg>
                        </div>
                        <ul class="nav-sub">
                            <li>
                                <a href="/join">
                                    Sign up
                                </a>
                            </li>
                            <li>
                                <a href="/login">
                                    Log in
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="nav-user">
            {% if not current_user.is_authenticated %}
                <a href="/join" class="btn">Join</a>
            {% endif %}
            <div class="mobile-burger" onclick="mobileMenuTrigger(event)">
                <span class="mobile-menu-opener">
                    Menu
                </span>
                <span class="mobile-menu-closer">
                    Close
                </span>
            </div>
        </div>
    </div>
    <div class="mobile-nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/trending">Trending</a>
            </li>
            <li>
                <a href="/new">New</a>
            </li>
            <li>
                <a href="/best">Best</a>
            </li>
            {% if current_user.is_authenticated %}
                <li onclick="mobileMenuShowProfile();" class="mobile-profile">
                <span>
                    {{ current_user.name }}
                    <span class="plus">+</span>
                    <span class="minus">-</span>
                </span>
                    <ul>
                        <li>
                            <a href="{{ current_user.route }}">
                                Your profile
                            </a>
                        </li>
                        <li>
                            <a href="/saved">
                                Saved links
                            </a>
                        </li>
                        <li>
                            <a href="/settings">
                                Settings
                            </a>
                        </li>
                        <li>
                            <a href="/logout">
                                Sign out
                            </a>
                        </li>
                    </ul>
                </li>
                <li onclick="mobileMenuShowSubscribed();" class="mobile-subscribed">
                <span>
                    Subscribed feeds
                    <span class="plus">+</span>
                    <span class="minus">-</span>
                </span>
                    <ul>
                        {% for feed in current_user.subscribed_feeds %}
                            <li>
                                <a href="/f/{{ feed.slug }}">
                                    {{ feed.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
        <li class="mobile-search">
                <form method="get" action="/search">
                        <span>
                            <button type="submit">
                                                            <svg class="svg-icon" width="25" height="25" viewBox="0 0 25 25">
                                <path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path>
                            </svg>
                            </button>
                        </span>
                        <input type="text" id="q" name="q" title="q" placeholder="Search" required>
                </form>
        </li>
        </ul>
    </div>
</nav>