{% extends "base.html" %}

{% block title %}
    New Link
{% endblock %}

{% block body %}
    <div class="page-container">
    <div class="one-page-form wide">
    <form action="/f/{{ feed.slug }}/add" method="POST">
        {{ form.csrf_token }}
        <h2>Submit to {{ feed.name }}</h2>
        <fieldset>
            <div class="f-row">
                {{ form.title }}
            </div>
            <div class="additional-info">
                Leave URL blank if you are posting question or text.
            </div>
            <div class="f-row">
                {{ form.url }}
            </div>
            <div class="f-row">
                {{ form.text }}
            </div>
            <div class="additional-info">
                Be sure to follow the <a href="/rules">general rules</a> and feed specific rules which you can find below.
            </div>
            <input type="submit" value="Submit">
            <div class="f-row">
                <h2>Feed rules</h2>
                <div class="md">
                    {{ feed.rules_html|safe }}
                </div>
            </div>
        </fieldset>
    </form>
    </div>
    </div>
{% endblock %}