{% extends "base.html" %}

{% block title %}
    Settings
{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h3 class="privacy">
                <h2>
                    eSource News Privacy Policy
                </h2>
                <p>
                    Welcome to eSource News website (the "Site", "Website") which is operated by Matouš Dzivjak
                    ("We", "Us").
                    This Privacy Policy provide information about how and why eSource News collects, uses, and
                    shares information about you
                    when you use our websites and other online products and services
                    (collectively, the "Services") or when you otherwise interact with us or receive a communication
                    from us.
                </p>
                <h3>
                    What we collect?
                </h3>
                <p>
                    We collect information that you provide through the services,
                    such as when you contact us with inquiries or register an account with us.
                </p>
                <p>
                    This includes:
                </p>
                <ul>
                    <li>
                        Account information such as username, email and password. Further account information that you
                        provide such as full name, your bio etc. And you preferences.
                    </li>
                    <li>
                        Content you submit which includes links, comments, reports and communication with us.
                    </li>
                    <li>
                        Actions you make. Voting, reporting, saving links and other interactions with content. For feed
                        administrators we collect information about banning, removing content and other feed related
                        changes.
                    </li>
                </ul>
                <h3>
                    When do we collect information?
                </h3>
                <p>
                    We collect information from you when you register on our site, contact us or enter information on
                    our site.
                </p>
                <h3>
                    How do we use your information?
                </h3>
                <p>
                    We use information about you to:
                </p>
                <ul>
                    <li>
                        personalize your experience and to allow us to deliver the type of content in which you are
                        most interested.
                    </li>
                    <li>
                        improve our website in order to better serve you and other users.
                    </li>
                    <li>
                        provide, maintain and develop our services.
                    </li>
                    <li>
                        communicate with you about services, bans, offers and events.
                    </li>
                    <li>
                        monitor and analyze services usage and trends.
                    </li>
                    <li>
                        send you technical notices and security alerts.
                    </li>
                </ul>

                <h3>
                    How do we protect your information?
                </h3>
                <p>
                    Your personal information is contained behind secured networks and is only
                    accessible by a limited number of persons who have special access rights to such systems, and
                    are required to keep the information confidential.
                </p>
                <p>
                    We implement a variety of security measures when a user enters, submits, or
                    accesses their information to maintain the safety of your personal information such as HTTPS while
                    information is being transmitted.
                </p>
                <h3>Data Retention</h3>
                <p>
                    We store the information we collect for as long as it is necessary for the purpose(s) for which we
                    originally collected it. We may retain certain information for legitimate business purposes or as
                    required by law.
                </p>

                <h3>
                    Cookies
                </h3>
                <p>We use cookies. Cookies, including local shared objects, are small pieces of information that are
                    stored by your browser on your computer's hard drive. They work by assigning to your computer a
                    unique identifier that has no meaning outside of our Website. Cookies do not
                    generally contain any Personal Information. Most Web browsers automatically accept cookies, but you
                    can usually configure your browser to prevent this. Not accepting cookies may make certain features
                    of out Website unavailable to you.
                </p>
                <p>
                    We use cookies to:
                </p>
                <ul>
                    <li>
                        Understand and save user's preferences for future visits.
                    </li>
                    <li>
                        Access your information when you sign in so we can provide you with your personalized content.
                    </li>
                </ul>

                <h3>Third-party disclosure</h3>
                <p>We do not sell, trade, or otherwise transfer to outside parties your
                    Personally Identifiable Information.
                </p>
                <h3>Third-party links</h3>
                <p>We include third-party content and links to third-party content on our website. These third-party
                    sites have separate and independent privacy
                    policies. We therefore have no responsibility or liability for the content and activities of
                    these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any
                    feedback about these sites.
                </p>
                <div class='innerText'><br><strong>According to CalOPPA, we agree to the following:</strong><br>
                </div>
                <div class='innerText'>Users can visit our site anonymously.</div>
                <div class='innerText'>Once this privacy policy is created, we will add a link to it on our home
                    page or as a minimum, on the first significant page after entering our website.<br></div>
                <div class='innerText'>Our Privacy Policy link includes the word 'Privacy' and can easily be found
                    on the page specified above.
                </div>
                <div class='innerText'><br>You will be notified of any Privacy Policy changes:</div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> On our Privacy Policy
                    Page<br></div>
                <div class='innerText'>Can change your personal information:</div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> By logging in to your
                    account
                </div>
                <p>
                    <b>
                        How does our site handle Do Not Track signals?
                    </b>
                </p>
                <p>
                    Our Site currently does not respond to “Do Not Track” (DNT) signals.
                </p>
                <div class='innerText'><br><strong>Does our site allow third-party behavioral tracking?</strong><br>
                </div>
                <div class='innerText'>It's also important to note that we do not allow third-party behavioral
                    tracking
                </div>
                <span id='coppAct'></span><br>
                <div class='blueText'><strong>COPPA (Children Online Privacy Protection Act)</strong></div>
                <br/>
                <div class='innerText'>When it comes to the collection of personal information from children under
                    the age of 13 years old, the Children's Online Privacy Protection Act (COPPA) puts parents in
                    control. The Federal Trade Commission, United States' consumer protection agency, enforces the
                    COPPA Rule, which spells out what operators of websites and online services must do to protect
                    children's privacy and safety online.<br><br></div>
                <div class='innerText'>We do not specifically market to children under the age of 13 years old.
                </div>
                <span id='ftcFip'></span><br>
                <div class='blueText'><strong>Fair Information Practices</strong></div>
                <br/>
                <div class='innerText'>The Fair Information Practices Principles form the backbone of privacy law in
                    the United States and the concepts they include have played a significant role in the
                    development of data protection laws around the globe. Understanding the Fair Information
                    Practice Principles and how they should be implemented is critical to comply with the various
                    privacy laws that protect personal information.<br><br></div>
                <div class='innerText'><strong>In order to be in line with Fair Information Practices we will take
                    the following responsive action, should a data breach occur:</strong></div>
                <div class='innerText'>We will notify you via email</div>
                <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Within 7 business days
                </div>
                <div class='innerText'><br>We also agree to the Individual Redress Principle which requires that
                    individuals have the right to legally pursue enforceable rights against data collectors and
                    processors who fail to adhere to the law. This principle requires not only that individuals have
                    enforceable rights against data users, but also that individuals have recourse to courts or
                    government agencies to investigate and/or prosecute non-compliance by data processors.
                </div>
                <p>
                    <b>
                        CAN SPAM Act
                    </b>
                </p>
                <p>
                    The CAN-SPAM Act is a law that sets the rules for commercial email,
                    establishes requirements for commercial messages, gives recipients the right to have emails
                    stopped from being sent to them, and spells out tough penalties for violations.
                </p>
                <p>
                    <b>
                        We collect your email address in order to:
                    </b>
                </p>
                <ul>
                    <li>
                        Send information,
                        respond to inquiries, and/or other requests or questions
                    </li>
                    <li>
                        Contact or warn you when you are breaking the rules
                    </li>
                </ul>
                <p>
                    <b>
                        To be in accordance with CANSPAM, we agree to the
                        following:
                    </b>
                </p>
                <ul>
                    <li>
                        Not use false or
                        misleading subjects or email addresses.
                    </li>
                    <li>
                        Identify the message
                        as an advertisement in some reasonable way.
                    </li>
                    <li>
                        Include the physical
                        address of our business or site headquarters.
                    </li>
                    <li>
                        Monitor third-party
                        email marketing services for compliance, if one is used.
                    </li>
                    <li>
                        Honor
                        opt-out/unsubscribe requests quickly.
                    </li>
                    <li>
                        Allow users to
                        unsubscribe by using the link at the bottom of each email.
                    </li>
                </ul>
                <p>
                    If at any time you would like to unsubscribe from receiving
                    future emails, follow the instructions at the bottom of each email.
                    and we will promptly remove you from <strong>ALL</strong> correspondence.
                </p>
                <p>
                    <b>Contacting Us</b>
                </p>
                <p>
                    If there are any questions regarding this privacy policy, you may
                    <a href="mailto:{{ config.CONTACT_MAIL }}">contact us</a>.
                </p>
                <p>
                    Last Edited on 2018-05-21
                </p>
        </div>
        </div>
    </section>
{% endblock %}