{% extends "base.html" %}

{% block title %}
    {{ user.name }}
{% endblock %}

{% block body %}
<section>
    <div class="container">
            <div class="profile-menu">
            <div class="menu">
                <a href="/u/{{user.username}}">
                    About
                </a>
                <a href="/u/{{user.username}}/posts">
                    Posts
                </a>
                <a href="/u/{{user.username}}/comments">
                    Comments
                </a>
            </div>
        </div>
        <div class="profile">
            <div class="profile-head">
                <div class="profile-avatar">
                    <img src="/static/images/testingprof.png">
                </div>
                <div class="profile-name">
                    {% if user.full_name %}
                    <h1 class="full-name">{{ user.full_name }}</h1>
                    <div class="under-name">{{ user.username }}</div>
                    {% else %}
                    <h1 class="username">{{ user.username }}</h1>
                    {% endif %}
                    {% if user.url %}
                    <div class="profile-url">
                        <a href="{{ user.url }}">{{ user.url }}</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="comments">
            {% for comment in user.comments %}
                {% with comment=comment %}
                    {% include 'comment_listing.html' %}
                {% endwith %}
            {% endfor %}
            </div>
                <div class="">
                {% if less_comments !=  None %}
                    <a href="?count={{ less_comments }}">
                        Previous
                    </a>
                {% endif %}
                {% if more_comments != None %}
                    <a href="?count={{ more_comments }}">
                        Next
                    </a>
                {% endif %}
            </div>
    </div>
</section>
{% endblock %}