{% extends "base.html" %}

{% block title %}
    {{ user.name }}
{% endblock %}

{% block body %}
    <div class="sub-menu">
        <div class="container">
            <div class="profile">
                <div class="profile-avatar">
                    {% if user.avatar %}
                        <img src="{{ user.avatar }}">
                    {% else %}
                        <div class="avatar-placeholder">
                            <span>?</span>
                        </div>
                    {% endif %}
                </div>
                <div class="profile-body">
                    <h1>{{ user.name }}</h1>
                    {% if user.url %}
                        <div class="profile-url">
                            <a href="{{ user.url }}">{{ user.url }}</a>
                        </div>
                    {% endif %}
                    {% if user.bio %}
                        <div class="bio">
                            {{ user.bio }}
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="container items">
            <div>
                <a href="{{ user.route }}" {% if active_section == 'about' %}class="active"{% endif %}>
                    About
                </a>
            </div>
            <div>
                <a href="{{ user.route }}/posts" {% if active_section == 'posts' %}class="active"{% endif %}>
                    Posts
                </a>
            </div>
            <div>
                <a href="{{ user.route }}/comments" {% if active_section == 'comments' %}class="active"{% endif %}>
                    Comments
                </a>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
{% endblock %}
