{% extends "profile_base.html" %}

{% block content %}
    <div class="profile">
        <div class="profile-head">
            <div class="profile-name">
                {% if user.full_name %}
                    <h1 class="full-name">{{ user.full_name }}</h1>
                    <div class="under-name">{{ user.username }}</div>
                {% else %}
                    <h1 class="username">{{ user.username }}</h1>
                {% endif %}
                {% if user.url %}
                    <div class="profile-url">
                        <a href="{{ user.url }}">{{ user.url }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="links container">
        {% for link in links %}
            {% with link=link %}
                {% include 'link_listing.html' %}
            {% endwith %}
        {% endfor %}
        <div class="page-navigation">
            {% if less_links !=  None %}
                <a href="?count={{ less_links }}">
                    Previous
                </a>
            {% endif %}
            {% if more_links != None %}
                <a href="?count={{ more_links }}">
                    Next
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
