{% extends "base.html" %}

{% block title %}
    {{ user.name }}
{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div class="profile">
            <div class="profile-head">
                <div class="profile-avatar">
                    <img src="/static/images/testingprof.png">
                </div>
                <div class="profile-name">
                    <h1 class="full-name">{{ user.name }}</h1>
                </div>
            </div>
        </div>
        <div class="links">
            <div class="menu">
                <a href="/u/{{user.username}}">
                    About
                </a>
                <a href="/u/{{user.username}}/posts">
                    Posts
                </a>
                <a href="/u/{{user.username}}/comments">
                    Comments
                </a>
            </div>
            {% for link in user.links %}
                {% with link=link %}
                    {% include 'link_listing.html' %}
                {% endwith %}
            {% endfor %}
            </div>
    </div>
</section>
{% endblock %}
