{% extends "profile_base.html" %}

{% block content %}
    <div class="comments container profile-tab">
        {% for comment in user.comments %}
            {% with comment=comment %}
                {% include 'comment_listing.html' %}
            {% endwith %}
        {% endfor %}
        <div class="page-navigation">
            {% if less_comments !=  None %}
                <a href="?count={{ less_comments }}">
                    Previous
                </a>
            {% endif %}
            {% if more_comments != None %}
                <a href="?count={{ more_comments }}">
                    Next
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}