{% extends "profile_base.html" %}

{% block content %}
    <div class="links container profile-tab">
        {% for link in links %}
            {% with link=link %}
                {% include 'link_listing.html' %}
            {% endwith %}
        {% endfor %}
        <div class="page-navigation">
            {% if less_links !=  None %}
                <a href="?count={{ less_links }}">
                    Previous
                </a>
            {% endif %}
            {% if more_links != None %}
                <a href="?count={{ more_links }}">
                    Next
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
