{% extends "base.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block body %}
<div class="page-container">
    <div class="one-page-form">
        <form action="/password_reset" method="POST">
            <h2>Reset your password</h2>
            <div>
                Enter your email address and we will send you a link to reset your password.
            </div>
            <p></p>
            <fieldset>
                <div class="f-row">
                    {{ form.email }}
                </div>
                {{ form.csrf_token }}
                <input type="submit" value="Send">
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}