{% extends "base.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block body %}
<div class="page-container">
    <a href="/" class="black-link small">
        < Back to homepage
    </a>
    <div class="one-page-form">
        <form action="/reset" method="POST">
            <h2>Reset</h2>
            <fieldset>
                <div class="f-row">
                    {{ form.new_password }}
                </div>
                <div class="f-row">
                    {{ form.new_password_again }}
                </div>
                {{ form.csrf_token }}
                <input type="submit" value="Set Password">
            </fieldset>
            <div class="additional-info">
                <b>Need help?</b>
                <a href="/contact">
                    Contact us
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}