{% extends "base.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block body %}
<div class="page-container">
    <div class="one-page-form">
        <form action="/reset_password/{{ token }}" method="POST">
            <h2>Your new password</h2>
            <fieldset>
                <div class="f-row">
                    {{ form.password }}
                </div>
                <div class="f-row">
                    {{ form.password_again }}
                </div>
                {{ form.csrf_token }}
                <input type="submit" value="Set Password" class="btn">
            </fieldset>
            <div class="additional-info">
                <b>Need help?</b>
                <a href="/contact">
                    Contact us
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}