{% extends "base.html" %}

{% block title %}
    Rules
{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div class="contact">
            <h3>General rules for posting</h3>
            <h4>
                What to Submit
            </h4>
            <p>
                Anything that is interesting, belongs to given feed and has some intellectual value.
            </p>
            <ul>
                <li>
                    Make titles descriptive and on point, if possible use the original title (if you are posting a link).
                </li>
                <li>
                    Provide short description (recommended, not mandatory), if possible use the original description or write <a target="_blank" href="https://en.wikipedia.org/wiki/TL;DR">tl;dr</a>.
                </li>
                <li>
                    Provide original source.
                </li>
                <li>
                    Don't spam or repost.
                </li>
                <li>
                    Follow rules for posting of individual feeds.
                </li>
            </ul>
            <h4>
                How to post
            </h4>
            <ul>
                <li>
                    If you are submitting a <b>link</b> fill in the URL and title. Description is optional and should be short and fill the role of <a target="_blank" href="https://en.wikipedia.org/wiki/TL;DR">tl;dr</a>.
                </li>
                <li>
                    If you are submitting some <b>text or question</b> leave the URL empty and fill in just title and text. You can use markdown to format the text.
                </li>
            </ul>
            <p>
                You can find more about markdown syntax for example at <a href="https://daringfireball.net/projects/markdown/">daringfireball.net/projects/markdown/</a>.
            </p>
            <h3>General rules for comments</h3>
            <ul>
                <li>
                    Don't say things you wouldn't say personally.
                </li>
                <li>
                    Show respect to others.
                </li>
                <li>
                    Avoid vulgarity.
                </li>
                <li>
                    Assume good faith.
                </li>
                <li>
                    Simple vote down should do the thing and avoids pointless discussions.
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}