{% extends "base.html" %}

{% block title %}
    Rules
{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div class="contact">
            <h3>General rules for posting</h3>
            <p>
                <b>
                    What to Submit
                </b>
            </p>
            <p>
                Anything that is interesting, belongs to given feed and you think that others might find it interesting as well.
            </p>
            <ul>
                <li>
                    Make titles descriptive and on point, if possible use the original title.
                </li>
                <li>
                    Provide short description if possible, if possible use the original description.
                </li>
                <li>
                    Provide original source not reports or mentions on other sites.
                </li>
                <li>
                    Don't submit too many links and don't submit same link more times.
                </li>
                <li>
                    Follow rules for posting of individual feeds.
                </li>
            </ul>
            <h3>General rules for comments</h3>
            <ul>
                <li>
                    Don't say things you wouldn't say personally.
                </li>
                <li>
                    Show respect to others.
                </li>
                <li>
                    Avoid vulgarity.
                </li>
                <li>
                    Assume good faith.
                </li>
                <li>
                    Don't complain about the link or other comments. Simple vote down should do the thing and avoids pointless discussions.
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}