{% extends "base.html" %}

{% block title %}
    Rules
{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="contact">
                <h3>General rules for posting</h3>
                <h4>
                    What to Submit
                </h4>
                <p>
                    Anything that is interesting, belongs to given feed and has some intellectual value.
                </p>
                <ul>
                    <li>
                        Make titles descriptive and on point, if possible use the original title (if you are posting a
                        link).
                    </li>
                    <li>
                        Provide short description (recommended, not mandatory), if possible use the original description
                        or write <a target="_blank" href="https://en.wikipedia.org/wiki/TL;DR">tl;dr</a>.
                    </li>
                    <li>
                        Provide original source. It's better to link to the original than to some article summarising
                        it.
                    </li>
                    <li>
                        Don't spam or repost old articles. This rule might be further modified by feed rules but
                        spamming in general is forbidden and will be punished by bans.
                    </li>
                    <li>
                        Follow rules for posting of individual feeds.
                    </li>
                    <li>
                        Content is often worthwhile and important for discussion even if you disagree with it. Downvote
                        only if you think a comment/post does not contribute to the thread it is posted in or if it is
                        off-topic.
                    </li>
                    <li>
                        No racist or sexist speech in comments or submissions. Also no abusive speech based on religion,
                        sex/gender, or sexual orientation. These are not rules against swearing; they're not rules
                        against expressing political opinions.
                    </li>
                </ul>
                <h4>
                    How to post
                </h4>
                <ul>
                    <li>
                        If you are submitting a <b>link</b> fill in the URL and title. Description is optional and
                        should be short and fill the role of <a target="_blank"
                                                                href="https://en.wikipedia.org/wiki/TL;DR">tl;dr</a>.
                    </li>
                    <li>
                        If you are submitting some <b>text or question</b> leave the URL empty and fill in just title
                        and text. You can use markdown to format the text.
                    </li>
                </ul>
                <p>
                    You can find more about markdown syntax for example at <a
                        href="https://daringfireball.net/projects/markdown/">daringfireball.net/projects/markdown/</a>.
                </p>
                <h3>General rules for comments</h3>
                <p>
                    In general, be courteous to others. Attack ideas, not users. Personal insults, shill or troll
                    accusations, hate speech, any advocating or wishing death/physical harm, and other rule violations
                    can result in a permanent ban.
                </p>
                <ul>
                    <li>
                        Please be civil and constructive at all times. It's important to mention here that we don't
                        censor or ban people due to their opinions. Everyone is entitled to their own opinions even if
                        you disagree with them - in these
                        instances, remember to debate civilly and focus your efforts on explaining why you disagree.
                        Attack the argument and not the user.
                    </li>
                    <li>
                        Don't say things you wouldn't say face-to-face. Comments should be civil.
                    </li>
                    <li>
                        Show respect to others even if you disagree. Keep the conversation classy.
                    </li>
                    <li>
                        Avoid vulgarity.
                    </li>
                    <li>
                        Assume good faith.
                    </li>
                    <li>
                        Don't complain in comments about the link. If you find it inappropriate report it or contact
                        feed admin. Don't feed egregious comments by replying, report them instead.
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}