{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="search-page">
                <div class="search pb">
                    <form method="get" action="/search">
                        <input name="q" type="text" autocomplete="off" placeholder="Search" required value="{{ q }}">
                        <button type="submit">
                            <img src="/static/images/search.svg" alt="S">
                        </button>
                    </form>
                </div>
                                <div class="search-info pb">
                        {{ search_info.hits }} results in {{ search_info.elapsed }} s
                    </div>
                <div class="feeds search-results">
                    <h2 class="pb">Feeds</h2>
                    {% for feed in feeds %}
                        <div class="s-feed pb">
                                <h2>
                                    <a href="{{ feed.feed.route }}">
                                        {% if feed.name %}
                                            {{ feed.name|safe }}
                                        {% else %}
                                            {{ feed.feed.name }}
                                        {% endif %}
                                    </a>
                                </h2>
                                {% if feed.description %}
                                    <div>
                                        {{ feed.description|safe }}
                                    </div>
                                {% endif %}
                                <div class="bottom-line">
                                    <div class="subcribers">
                                        {{ feed.feed.subscribers_count }} subscribers
                                    </div>
                                    <div class="date">
                                        {{ feed.feed.time_ago() }}
                                    </div>
                                </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="links search-results">
                    <h2 class="pb">Links</h2>
                    {% for link in links %}
                        <div class="link">
                            <div class="link-body">
                            <div class="link-text">
                                                                <div class="link-feed">
                                    <a href="{{ link.link.feed.route }}">
                                        {{ link.link.feed.name }}
                                    </a>
                                </div>
                                <h2>
                                    <a href="{{ link.url }}">
                                        {% if link.title %}
                                            {{ link.title|safe }}
                                        {% else %}
                                            {{ link.link.title }}
                                        {% endif %}
                                    </a>
                                </h2>
                                {% if link.text %}
                                    <div>
                                        {{ link.text|safe }}
                                    </div>
                                {% endif %}
                                <div class="bottom-line">
                                    <div class="comments">
                                        <a href="{{ link.link.route }}">{{ link.link.comments_count }}
                                            comments</a>
                                    </div>
                                    <div class="date">
                                        {{ link.link.time_ago() }}
                                    </div>
                                    <div class="author">
                                        by <a href="{{ link.link.user.route }}">{{ link.link.user.name }}</a>
                                    </div>
                            </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
