{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="search-page">
                <div class="search">
                    <form method="get" action="/search">
                        <input name="q" type="text" autocomplete="off" placeholder="Search" required value="{{ q }}">
                        <button type="submit">
                            <img src="/static/images/search.svg" alt="S">
                        </button>
                    </form>
                </div>
                <div class="search-info">
                    {{ search_info.hits }} results in {{ search_info.elapsed }} s
                </div>
                {% if not feeds and not links %}
                    <h3>Sorry, nothing found.</h3>
                {% endif %}
                {% if feeds %}
                <div class="feeds search-results">
                    <h2>Feeds</h2>
                    {% for feed in feeds %}
                        <div class="s-feed">
                            <h2>
                                <a href="{{ feed.route }}">
                                    {{ feed.name_highlight|safe }}
                                </a>
                            </h2>
                            {{ feed.description_highlight|safe }}
                            <div class="bottom-line">
                                <div class="subcribers">
                                    {{ feed.subscribers_count }} subscribers
                                </div>
                                <div class="date">
                                    {{ feed.time_ago() }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if links %}
                <div class="links search-results">
                    <h2>Links</h2>
                    {% for link in links %}
                        <div class="link">
                            <div class="link-body">
                                <div class="link-text">
                                    <div class="link-feed">
                                        <a href="{{ link.feed.route }}">
                                            {{ link.feed.name }}
                                        </a>
                                    </div>
                                    <h2>
                                        <a href="{{ link.url }}">
                                                {{ link.title_highlight|safe }}
                                        </a>
                                    </h2>
                                    {% if link.text_highlight %}
                                        <div>
                                            {{ link.text_highlight|safe }}
                                        </div>
                                    {% endif %}
                                    <div class="bottom-line">
                                        <div class="comments">
                                            <a href="{{ link.full_route }}">{{ link.comments_count }}
                                                comments</a>
                                        </div>
                                        <div class="date">
                                            {{ link.time_ago() }}
                                        </div>
                                        <div class="author">
                                            by <a href="{{ link.user.route }}">{{ link.user.name }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
