{% extends "base.html" %}

{% block title %}
    Settings
{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div class="settings">
            <div class="menu">
                <a href="/settings/profile">
                    Profile
                </a>
                <a href="/settings/account">
                    Account
                </a>
                <a href="/settings/preferences">
                    Preferences
                </a>
            </div>
            <div class="settings-tab">
                {% block settings_content %}
                {% endblock %}
            </div>
        </div>
    </div>
</section>
{% endblock %}