{% extends "settings.html" %}

{% block settings_content %}
    <h2>Account settings</h2>
    <form action="/settings/password" method="POST">
        <h3>Change Password</h3>
        <fieldset>
            <div class="f-row">
                {{ pw_form.old_password.label }}
                {{ pw_form.old_password }}
            </div>
            <div class="f-row">
                {{ pw_form.new_password.label }}
                {{ pw_form.new_password }}
            </div>
            <div class="f-row">
                {{ pw_form.new_password_again.label }}
                {{ pw_form.new_password_again }}
            </div>
            {{ pw_form.csrf_token }}
            <input type="submit" value="Change">
        </fieldset>
    </form>
    <form action="/settings/email" method="POST">
        <h3>Email Settings</h3>
        <fieldset>
            <div class="f-row">
                {{ email_form.email.label }}
                {{ email_form.email }}
            </div>
            <div class="additional-info">
                {% if email_form.user.email_verified %}
                    Your email is verified.
                {% else %}
                    You have not verified your email yet. <a href="/send-verify">Send verification link</a>
                {% endif %}
            </div>
            {{ email_form.csrf_token }}
            <input type="submit" value="Change">
        </fieldset>
    </form>
    <form>
        <h3>Delete Account</h3>
        <fieldset>
            <input type="submit" value="Delete account">
        </fieldset>
    </form>
{% endblock %}