{% extends "base.html" %}

{% block title %}
    Settings
{% endblock %}

{% block body %}
<section>
    <div class="container">
        <form action="/settings" method="POST">
            <div class="f-row">
                {{ form.show_images.label }}
                {{ form.show_images }}
            </div>
            <div class="f-row">
                {{ form.min_link_score.label }}
                {{ form.min_link_score }}
            </div>
            {{ form.csrf_token }}
            <input type="submit" value="Save">
        </form>
    </div>
</section>
{% endblock %}