{% extends "base.html" %}

{% block title %}
    Settings
{% endblock %}

{% block body %}
        <div class="settings">
            <div class="sub-menu">
            <div class="container">
                                <a href="/settings/profile" {% if active_tab == 'profile' %}class="active"{% endif %}>
                    Profile
                </a>
                <a href="/settings/account" {% if active_tab == 'account' %}class="active"{% endif %}>
                    Account
                </a>
                <a href="/settings/preferences" {% if active_tab == 'preferences' %}class="active"{% endif %}>
                    Preferences
                </a>
            </div>
            </div>
            <div class="settings-tab container">

                {% block settings_content %}
                {% endblock %}
            </div>
    </div>
{% endblock %}