{% extends "settings.html" %}

{% block settings_content %}
    <form action="/settings/profile" method="POST" enctype="multipart/form-data">
        <h2>Profile Settings</h2>
        <fieldset>
            <div class="f-row">
                {{ form.full_name.label }}
                {{ form.full_name }}
            </div>
            <div class="f-row">
                {{ form.bio.label }}
                {{ form.bio }}
            </div>
            <div class="f-row">
                {{ form.url.label }}
                {{ form.url }}
            </div>
            <div class="f-row">
                {{ form.img.label }}
                {{ form.img }}
            </div>
            {{ form.csrf_token }}
            <input type="submit" value="Save" class="btn">
        </fieldset>
    </form>
{% endblock %}